/**
 * Variables - Breakpoints
 */

$o-breakpoints: (
  xxs: 320px,
  xs: 480px,
  sm: 640px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
) !default;

/**
 * Media Query Breakpoint Sizes
 */
/** {breakpoint} and up */
@mixin breakpoint-and-up($name) {
  @media (min-width: breakpoint($name)) {
    @content;
  }
}

/* XX Small */
$o-xxs-screen-from: 0px !default;
$o-xxs-screen-to: 320px !default;

/* Micro */
$o-xs-screen-from: 321px !default;
$o-xs-screen-to: 479px !default;

/* Extra Small */
$o-sm-screen-from: 480px !default;
$o-sm-screen-to: 767px !default;

/* Small */
$o-md-screen-from: 768px !default;
$o-md-screen-to: 991px !default;

/* Medium */
$o-lg-screen-from: 992px !default;
$o-lg-screen-to: 1199px !default;

/* Large */
$o-xl-screen-from: 1200px !default;
$o-xl-screen-to: 1439px !default;

/* Extra Large */
$o-xxl-screen-from: 1440px !default;
