/**
 * Variables - Grid
 */

/**
  Gutter
*/
/* Desktop */
$grid-gutter: 12px !default;
$container-gutter: 12px !default;

/* Mobile */
$grid-gutter-mobile: $grid-gutter !default;
$container-gutter-mobile: $container-gutter !default;

/**
  Container
*/
$container-max-width: 100% !default;

/**
  Columns
*/
$grid-column-number: 12;

/* Width */
$grid-column-min-width-narrow: 120px;
$grid-column-min-width-regular: 240px;
$grid-column-min-width-wide: 360px;
$grid-column-max-width: 1fr;

/*+
  Rows
*/
$grid-row-number: 12;
