/**
 * Variables - Grid
 */

/**
  Gutter
*/
/* Desktop */
$grid-gap: 12px !default;
$container-gap: 12px !default;

/* Mobile */
$grid-gap-mobile: $grid-gap !default;
$container-gap-mobile: $container-gap !default;

/**
  Container
*/
$container-max-width: 100% !default;

/**
  Columns
*/
$grid-column-number: 12 !default;

/* Width */
$grid-column-min-width-narrow: 120px !default;
$grid-column-min-width-regular: 240px !default;
$grid-column-min-width-wide: 360px !default;
$grid-column-max-width: 1fr !default;

/*+
  Rows
*/
$grid-row-number: 12 !default;
