/**
 * Variables - Media Queries
 */

/*
  Media Queries
*/

/* Screen */
$o-screen: "only screen" !default;

/* XX Small Query */
$o-xxs-and-down: "#{$o-screen} and (max-width : #{$o-xxs-screen-to})" !default;
$o-xxs-and-up: "#{$o-screen} and (min-width : #{$o-xxs-screen-from})" !default;
$o-xxs-only: "#{$o-screen} and (min-width: #{$o-xxs-screen-from}) and (max-width: #{$o-xxs-screen-to})" !default;

/* X Small Query */
$o-xs-and-down: "#{$o-screen} and (max-width : #{$o-xs-screen-to})" !default;
$o-xs-and-up: "#{$o-screen} and (min-width : #{$o-xs-screen-from})" !default;
$o-xs-only: "#{$o-screen} and (min-width: #{$o-xs-screen-from}) and (max-width: #{$o-xs-screen-to})" !default;

/* Small Query */
$o-sm-and-down: "#{$o-screen} and (max-width : #{$o-sm-screen-to})" !default;
$o-sm-and-up: "#{$o-screen} and (min-width : #{$o-sm-screen-from})" !default;
$o-sm-only: "#{$o-screen} and (min-width: #{$o-sm-screen-from}) and (max-width: #{$o-sm-screen-to})" !default;

/* Medium Query */
$o-md-and-down: "#{$o-screen} and (max-width : #{$o-md-screen-to})" !default;
$o-md-and-up: "#{$o-screen} and (min-width : #{$o-md-screen-from})" !default;
$o-md-only: "#{$o-screen} and (min-width: #{$o-md-screen-from}) and (max-width: #{$o-md-screen-to})" !default;

/* Large Query */
$o-lg-and-down: "#{$o-screen} and (max-width : #{$o-lg-screen-to})" !default;
$o-lg-and-up: "#{$o-screen} and (min-width : #{$o-lg-screen-from})" !default;
$o-lg-only: "#{$o-screen} and (min-width: #{$o-lg-screen-from}) and (max-width: #{$o-lg-screen-to})" !default;

/* Large Query */
$o-xl-and-down: "#{$o-screen} and (max-width : #{$o-xl-screen-to})" !default;
$o-xl-and-up: "#{$o-screen} and (min-width : #{$o-xl-screen-from})" !default;
$o-xl-only: "#{$o-screen} and (min-width: #{$o-xl-screen-from}) and (max-width: #{$o-xl-screen-to})" !default;

/* Extra Large Query */
$o-xxl-and-up: "#{$o-screen} and (min-width : #{$o-xxl-screen-from})" !default;

/*
	Media Query Properties
*/
/* Number of Columns */
$o-grid: 12 !default;

/* Breakpoints query breakpoint and up */
$o-breakpoints-up: (
  "xxsm": $o-xxs-and-up,
  "xsm": $o-xs-and-up,
  "sm": $o-sm-and-up,
  "md": $o-md-and-up,
  "lg": $o-lg-and-up,
  "xl": $o-xl-and-up,
  "xxl": $o-xxl-and-up
);

/* Breakpoints query breakpoint and down */
$o-breakpoints-down: (
  "lg-down": $o-xl-and-down,
  "md-down": $o-lg-and-down,
  "sm-down": $o-md-and-down,
  "xs-down": $o-sm-and-down,
  "micro-down": $o-xs-and-down,
  "nano-down": $o-xxs-and-down
);

/* Breakpoints query breakpoint only */
$o-breakpoints-only: (
  "xl-only": $o-xxl-and-up,
  "lg-only": $o-xl-only,
  "md-only": $o-lg-only,
  "sm-only": $o-md-only,
  "xs-only": $o-sm-only,
  "micro-only": $o-xs-only,
  "nano-only": $o-xxs-only
);
