@font-face {
	font-family: "fomo-icons";
	src: url("#{$font-icon-url}/orange-icons.eot");
	src: url("#{$font-icon-url}/orange-icons.eot") format("embedded-opentype"),
		url("#{$font-icon-url}/orange-icons.woff2") format("woff2"),
		url("#{$font-icon-url}/orange-icons.woff") format("woff"),
		url("#{$font-icon-url}/orange-icons.ttf") format("truetype"),
		url("#{$font-icon-url}/orange-icons.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
	font-family: "fomo-icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before { content: '\e800'; }
.icon-arrow-left:before { content: '\e801'; }
.icon-arrow-right:before { content: '\e802'; }
.icon-arrow-skip:before { content: '\e803'; }
.icon-arrow-up:before { content: '\e804'; }
.icon-audience:before { content: '\e805'; }
.icon-billing:before { content: '\e806'; }
.icon-breadcrumb:before { content: '\e807'; }
.icon-budget:before { content: '\e808'; }
.icon-burger:before { content: '\e809'; }
.icon-caret-down:before { content: '\e80a'; }
.icon-caret-up:before { content: '\e80b'; }
.icon-code:before { content: '\e80c'; }
.icon-dashboard:before { content: '\e80d'; }
.icon-desktop:before { content: '\e80e'; }
.icon-editor:before { content: '\e80f'; }
.icon-events:before { content: '\e810'; }
.icon-external:before { content: '\e811'; }
.icon-heart:before { content: '\e812'; }
.icon-launch:before { content: '\e814'; }
.icon-lock:before { content: '\e815'; }
.icon-mobile:before { content: '\e816'; }
.icon-plan:before { content: '\e817'; }
.icon-plus:before { content: '\e818'; }
.icon-profile:before { content: '\e819'; }
.icon-refresh:before { content: '\e81a'; }
.icon-remove:before { content: '\e81b'; }
.icon-rules:before { content: '\e81c'; }
.icon-settings:before { content: '\e81d'; }
.icon-target:before { content: '\e81e'; }
.icon-team:before { content: '\e81f'; }
.icon-theme:before { content: '\e820'; }
.icon-tick:before { content: '\e821'; }
.icon-x:before { content: '\e822'; }
.icon-integrations:before { content: '\e823'; }
.icon-more:before { content: '\e824'; }
