/**
 * Avatar
 */

.avatar {
  width: $avatar-width-height;
  height: $avatar-width-height;
  color: $avatar-color;
  overflow: hidden;

  svg {
    width: 100%;
    fill: currentColor;
  }
}

/** Sizes
--------------------------------------------------*/
.avatar--size-auto {
  width: 100%;
  height: 100%;
}

.avatar--size-small {
  width: $avatar-small-width-height;
  height: $avatar-small-width-height;
}

.avatar--size-large {
  width: $avatar-large-width-height;
  height: $avatar-large-width-height;
}

/** Looks
--------------------------------------------------*/

.avatar--circle {
  border-radius: 100%;
  border: 1px solid $avatar-color;
}

/** Colors
--------------------------------------------------*/
@each $name, $value in $colors {
  .avatar--color-#{$name} {
    color: color(#{$name});
    border-color: color(#{$name});
  }
}
