/**
 * Breadcrumbs
 */

.breadcrumbs {
  display: flex;

  /** Menu
  --------------------------------------------------*/

  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    user-select: none;

    /** Item
    --------------------------------------------------*/
    > li {
      font-size: fontSize('zeta');
      margin-right: $breadcrumbs-margin;

      &:first-child {
        > a {
          margin-left: 0;
          padding-left: $breadcrumbs-spacing;

          &::before {
            display: none;
          }
        }

        .icon {
          margin-left: -$breadcrumbs-spacing / 4;
        }
      }

      &:last-child {
        margin-right: 0;

        > a {
          padding-right: ($breadcrumbs-spacing) + ($breadcrumbs-spacing / 2);

          &::after {
            display: none;
          }
        }
      }
    }

    /** Link
    --------------------------------------------------*/
    > li > a {
      display: flex;
      align-items: center;
      position: relative;
      padding: 0 $breadcrumbs-spacing;
      background: rgba($breadcrumbs-default-color, $breadcrumbs-bg-transperancy);
      color: rgba($breadcrumbs-default-color, $breadcrumbs-color-transperancy);
      line-height: 1;
      height: $breadcrumbs-height;
      cursor: pointer;
      margin-left: $breadcrumbs-spacing;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -$breadcrumbs-spacing;
        border-top: $breadcrumbs-height / 2 solid rgba($breadcrumbs-default-color, $breadcrumbs-bg-transperancy);
        border-bottom: $breadcrumbs-height / 2 solid rgba($breadcrumbs-default-color, $breadcrumbs-bg-transperancy);
        border-right: $breadcrumbs-spacing solid transparent;
        font-size: 0;
        line-height: 0;
        width: 0;
        transform: rotate(180deg);
      }

      &::after {
        content: '';
        position: absolute;
        right: -$breadcrumbs-spacing;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $breadcrumbs-height / 2 0 $breadcrumbs-height / 2 $breadcrumbs-spacing;
        border-color: transparent transparent transparent rgba($breadcrumbs-default-color, $breadcrumbs-bg-transperancy);
      }

      &.is-active,
      &:hover {
        color: $breadcrumbs-default-color;
        text-decoration: none;
        background: rgba($breadcrumbs-default-color, $breadcrumbs-bg-transperancy-active);

        &::before {
          border-top: $breadcrumbs-height / 2 solid rgba($breadcrumbs-default-color, $breadcrumbs-bg-transperancy-active);
          border-bottom: $breadcrumbs-height / 2 solid rgba($breadcrumbs-default-color, $breadcrumbs-bg-transperancy-active);
        }

        &::after {
          border-color: transparent transparent transparent rgba($breadcrumbs-default-color, $breadcrumbs-bg-transperancy-active);
        }
      }

      &.is-disabled {
        cursor: default;
        pointer-events: none;
        opacity: 0.5;
      }
    }

    /** Icon
    --------------------------------------------------*/
    li > a > .icon {
      margin-right: $spacing-base / 4;
    }
  }
}

/** Back button
--------------------------------------------------*/

.breadcrumbs__button,
a.breadcrumbs__button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 $border-radius-main $border-radius-main 0;
  padding: 0 ($breadcrumbs-spacing * 1.5) 0 $breadcrumbs-spacing;
  margin-left: $breadcrumbs-spacing;
  margin-right: $spacing-base;
  line-height: 1;
  height: $breadcrumbs-height;
  position: relative;
  background: rgba($breadcrumbs-default-color, $breadcrumbs-bg-transperancy);
  color: rgba($breadcrumbs-default-color, $breadcrumbs-color-transperancy);
  font-size: fontSize('zeta');

  &::before {
    content: '';
    position: absolute;
    left: -$breadcrumbs-spacing;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $breadcrumbs-height / 2 $breadcrumbs-spacing $breadcrumbs-height / 2 0;
    border-color: transparent rgba($breadcrumbs-default-color, $breadcrumbs-bg-transperancy) transparent transparent;
  }

  /** Disabled state */
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;

    &:hover {
      cursor: default;
    }
  }

  &:hover {
    color: $breadcrumbs-default-color;
    background-color: rgba($breadcrumbs-default-color, $breadcrumbs-bg-transperancy-active);
    text-decoration: none;

    &::before {
      border-color: transparent rgba($breadcrumbs-default-color, $breadcrumbs-bg-transperancy-active) transparent transparent;
    }
  }
}


/** Colors
--------------------------------------------------*/

@each $name, $value in $colors {
  .breadcrumbs--color-#{$name} {
    > ul {
      > li > a {
        color: rgba(color(#{$name}), $breadcrumbs-color-transperancy);
        background-color: rgba(color(#{$name}), $breadcrumbs-bg-transperancy);

        &::before {
          border-top: $breadcrumbs-height / 2 solid rgba(color(#{$name}), $breadcrumbs-bg-transperancy);
          border-bottom: $breadcrumbs-height / 2 solid rgba(color(#{$name}), $breadcrumbs-bg-transperancy);
        }

        &::after {
          border-color: transparent transparent transparent rgba(color(#{$name}), $breadcrumbs-bg-transperancy);
        }

        &.is-active,
        &:hover {
          color: color(#{$name});
          background-color: rgba(color(#{$name}), $breadcrumbs-bg-transperancy-active);

          &::before {
            border-top: $breadcrumbs-height / 2 solid rgba(color(#{$name}), $breadcrumbs-bg-transperancy-active);
            border-bottom: $breadcrumbs-height / 2 solid rgba(color(#{$name}), $breadcrumbs-bg-transperancy-active);
          }

          &::after {
            border-color: transparent transparent transparent rgba(color(#{$name}), $breadcrumbs-bg-transperancy-active);
          }
        }
      }
    }

    /** Color modifiers */
    .breadcrumbs__button,
    a.breadcrumbs__button {
      background: rgba(color('#{$name}'), $breadcrumbs-bg-transperancy);
      color: rgba(color('#{$name}'), $breadcrumbs-color-transperancy);

      &:hover {
        color: color('#{$name}');
        background: rgba(color('#{$name}'), $breadcrumbs-bg-transperancy-active);
      }
    }
  }
}


/** Sizes
--------------------------------------------------*/

.breadcrumbs--full {
  > ul {
    width: 100%;

    > li {
      flex: 1;
    }

    > li > a {
      justify-content: center;
      text-align: center;
    }
  }
}
