/**
 * Button
 */


/** Button
--------------------------------------------------*/

/** Primary */
.button,
a.button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;

  height: $button-height;
  padding: $button-padding;

  border-radius: $button-border-radius;
  border: $button-border-width solid $button-border-color;

  font-style: normal;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;

  text-decoration: none;
  user-select: none;

  color: $button-color;
  background-color: $button-background-color;

  transition: $button-transition;

  [class^="icon-"], [class*=" icon-"] {
    margin-left: $button-icon-margin-left;
  }

  &:hover,
  &:focus {
    border-color: $button-action-border-color;
    background-color: $button-action-background-color;
    cursor: pointer;
    outline: none;
    color: $button-action-color;
  }

  /** Disabled state */
  &[disabled] {
    opacity: $button-disabled-opacity;
    pointer-events: none;

    &:hover,
    &:focus {
      cursor: default;
    }
  }

  /** Add a margin when buttons are next to each other */
  & + & {
    margin-left: $button-next-button-margin-left;
  }

  /** Loading state */
  &.is-loading {
    &:before {
      background-color: color('gray', 'lightest');
    }

    &::after {
      border-color: color('gray') transparent color('gray') transparent;
    }
  }

  /** Inverted modifier */
  &.button--inverted {
    color: $button-inverted-color;
    background-color: $button-inverted-background-color;

    &:hover,
    &:focus {
      color: $button-inverted-action-color;
      background-color: $button-inverted-action-background-color;
    }
  }
}

/** Secondary */
.button--secondary,
a.button--secondary {
  background-color: $button-secondary-background-color;
  color: $button-secondary-color;
  border-color: $button-secondary-border-color;

  &:hover,
  &:focus {
    border-color: $button-secondary-border-color-action;
    color: $button-secondary-color-action;
  }

  &.button--inverted {
    color: $button-secondary-inverted-color;
    background-color: $button-secondary-inverted-background-color;
    border-color: $button-secondary-inverted-border-color;

    &:hover,
    &:focus {
      color: $button-secondary-inverted-action-color;
      background-color: $button-secondary-inverted-action-background-color;
      border-color: $button-secondary-inverted-action-border-color;
    }
  }
}


/** Colors
--------------------------------------------------*/

@each $name, $value in $colors {
  @if $name == 'white' {
    .button--color-#{$name},
    a.button--color-#{$name} {
      color: color('black');
      background-color: color(#{$name});

      &:hover,
      &:focus {
        background-color: transparentize(color(#{$name}), 0.33);
      }

      &.button--inverted {
        color: color('white');
        background-color: color('black');

        &:hover,
        &:focus {
          color: color('white');
          background-color: transparentize(color('black'), 0.66);
        }
      }

      &.button--secondary{
        color: color(#{$name});
        border-color: color(#{$name});
        background-color: transparent;

        &:hover,
        &:focus {
          color: color('black');
          background-color: transparentize(color(#{$name}), 0.33);
          border-color: transparent;
        }

        &.button--inverted {
          color: color('black');
          border-color: color('black');

          &:hover,
          &:focus {
            color: color('white');
            border-color: transparent;
            background-color: transparentize(color('black'), 0.66);
          }
        }
      }
    }
  }
  @else {
    .button--color-#{$name},
    a.button--color-#{$name} {
      color: color('white');
      background-color: color(#{$name});

      &:hover,
      &:focus {
        background-color: transparentize(color(#{$name}), 0.33);
      }

      &.button--inverted {
        color: color(#{$name});
        background-color: color('white');

        &:hover,
        &:focus {
          color: color('white');
          background-color: transparentize(color('white'), 0.66);
        }
      }

      &.button--secondary {
        color: color(#{$name});
        background-color: transparent;
        border-color: color(#{$name});

        &:hover,
        &:focus {
          color: color('white');
          background-color: transparentize(color(#{$name}), 0.33);
          border-color: transparent;
        }

        &.button--inverted {
          color: color('white');
          border-color: color('white');

          &:hover,
          &:focus {
            color: color('white');
            border-color: transparent;
            background-color: transparentize(color('white'), 0.66);
          }
        }
      }
    }
  }
}


/** Variants
--------------------------------------------------*/

/** Basic */
.button--basic,
a.button--basic {
  color: $button-basic-color;
  background-color: $button-basic-background-color;

  &:hover,
  &:focus {
    color: $button-basic-action-color;
    background-color: $button-basic-action-background-color;
  }

  &.button--secondary {
    background-color: $button-basic-secondary-background-color;
    border-color: $button-basic-secondary-border-color;

    &:hover,
    &:focus {
      background-color: $button-basic-secondary-action-background-color;
      border-color: $button-basic-secondary-action-border-color;
      color: $button-basic-secondary-action-color;
    }
  }
}


/** Sizes
--------------------------------------------------*/

/** Small */
.button--small,
a.button--small {
  padding: $button-small-padding;
  font-size: $button-small-font-size;
  line-height: $button-small-line-height;
  height: $button-small-height;

  &.button--icon-only,
  &a.button--icon-only {
    width: $button-small-height;
    padding: 0;

    [class^="icon-"], [class*=" icon-"] {
      font-size: $button-small-icon-only-icon-font-size;
      height: $button-small-icon-only-icon-height;
    }
  }
}

/** Large */
.button--large,
a.button--large {
  padding: $button-large-padding;
  font-size: $button-large-font-size;
  line-height: $button-large-line-height;
  height: $button-large-height;

  &.button--icon-only,
  &a.button--icon-only {
    width: $button-large-height;
    padding: 0;

    [class^="icon-"], [class*=" icon-"] {
      font-size: $button-large-icon-only-icon-font-size;
      height: $button-large-icon-only-icon-height;
    }
  }
}

/** Wide
--------------------------------------------------*/
.button--wide,
a.button--wide {
  width: 100%;
  justify-content: center;

  & + & {
    margin-left: 0;
    margin-top: $spacing-small;
  }
}


/** Icon
--------------------------------------------------*/

/** Icon only */
.button--icon-only,
a.button--icon-only {
  width: $button-height;
  padding: $button-icon-only-padding;
  align-items: center;
  justify-content: center;

  [class^="icon-"],
  [class*=" icon-"] {
    margin: auto;
  }
}
