/**
 * Callout
 */

.callout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  padding: $callout-padding;
  border-radius: $callout-border-radius;
  margin-bottom: $callout-margin-bottom;
  transition: $callout-transition;

  background-color: $callout-background-color;
  color: $callout-text-color;
  text-align: center;
  font-size: $callout-font-size;
  cursor: default;

  p {
    margin-bottom: $spacing-base / 2;

    &:last-of-type {
      margin-bottom: auto;
    }
  }

  a {
    color: $callout-link-color;
    font-weight: fontWeight('bold');
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}


/** Colors
--------------------------------------------------*/

@each $name, $value in $colors {
  @if $name == 'white' {
    .callout--color-#{$name} {
      color: color('gray', 'dark');
      background-color: color('white');

      &.callout--action:hover {
        background-color: color('gray', 'lightest');
      }

      a {
        color: color('gray', 'dark');
      }
    }
  } @else {
    @each $colorKey, $colorValue in $value {
      @if ($colorKey == 'base') {
        .callout--color-#{$name} {
          background-color: color(#{$name});
          color: color('white');
          border-width: 0;

          a {
            color: color(#{$name});
          }

          &.callout--action:hover {
            background-color: lighten(color(#{$name}), $callout-color-base-action-hover-background-color-lighten);
          }
        }
      } @else {
        .callout--color-#{$name}-#{$colorKey} {
          background-color: #{$colorValue};
          color: color('white');
          border-width: 0;

          a {
            color: #{$colorValue};
          }

          &.callout--action:hover {
            background-color: adjust-color($colorValue, $lightness: $callout-color-action-hover-background-color-lightness);
          }
        }
      }
    }
  }
}


/** Styles
--------------------------------------------------*/

/** With a shadow */
.callout--shadow {
  box-shadow: $callout-shadow-box-shadow;
}

/** With an image */
.callout__image {
  padding: $callout-image-padding;
}

/* Hover action */
.callout--action {
  &:hover {
    cursor: pointer;
    background-color: $callout-action-hover-background-color;
  }
}
