/**
 * Checkbox
 */


/** Checkbox group
--------------------------------------------------*/
.checkbox-group {
  height: $input-height-large;
  padding: $spacing-small;
  border: $border;
  border-radius: $border-radius-main;
}


/** Checkbox group label
--------------------------------------------------*/

.checkbox-group__label {
  margin-bottom: $spacing-base / 6;
  font-size: fontSize('omega');
  line-height: 1;
  color: color('black');
}


/** Checkbox
--------------------------------------------------*/

.checkbox {
  display: inline-block;
  position: relative;
  font-size: fontSize('epsilon');

  & + & {
    margin-left: $spacing-base;
  }

  /** Checkbox input
  --------------------------------------------------*/
  > input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }

  /** Checkbox label
  --------------------------------------------------*/
  > label {
    display: inline-flex;
    align-items: center;
    position: relative;
    background: transparent;
    cursor: pointer;
    padding-left: $checkbox-width-height + $spacing-base / 3;
    min-height: $checkbox-width-height;
    position: relative;
    color: color('secondary');
    opacity: 0.5;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      height: $checkbox-width-height;
      width: $checkbox-width-height;
      transform: translateY(-50%);
      border: 1px solid color('secondary');
      content: '';
      border-radius: $border-radius-main;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "fomo-icons";
      color: color('white');
      font-size: $spacing-base; /** equals 24px */
    }
  }
}



/** States
--------------------------------------------------*/

.checkbox {
  
  /** Checked */
  > input:checked {
    + label {
      opacity: 1;
    }

    + label::before {
      content: "\e821";
      background-color: color('secondary');
    }
  }

  /** Disabled and checked */
  > input:disabled {
    + label {
      color: color('gray', 'dark');
      cursor: default;

      &::before {
        border-color: color('gray', 'dark');
      }
    }
    
    &:checked {
      > label::before {
        background-color: color('gray', 'dark');
      }
    }
  }
}
