/**
 * Checkbox
 */


/** Checkbox group
--------------------------------------------------*/
.checkbox-group {
  height: $checkbox-group-height;
  padding: $checkbox-group-padding;
  border: $checkbox-group-border;
  border-radius: $checkbox-group-border-radius;
}


/** Checkbox group label
--------------------------------------------------*/

.checkbox-group__label {
  margin-bottom: $checkbox-bottom-margin;
  font-size: $checkbox-label-font-size;
  line-height: 1;
  color: $checkbox-label-text-color;
}


/** Checkbox
--------------------------------------------------*/

.checkbox {
  display: inline-block;
  position: relative;
  font-size: $checkbox-font-size;

  * {
    transition: $transition;
  }

  & + & {
    margin-left: $spacing-base;
  }

  /** Checkbox input
  --------------------------------------------------*/
  > input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }

  /** Checkbox label
  --------------------------------------------------*/
  > label {
    display: inline-flex;
    align-items: center;
    position: relative;
    background: transparent;
    cursor: pointer;
    padding-left: $checkbox-width-height + $spacing-base / 3;
    min-height: $checkbox-width-height;
    position: relative;
    color: $checkbox-color;
    opacity: 0.5;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      height: $checkbox-width-height;
      width: $checkbox-width-height;
      transform: translateY(-50%);
      border: 1px solid $checkbox-color;
      content: '';
      border-radius: $checkbox-border-radius;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "fomo-icons";
      color: color('white');
      font-size: $spacing-base; /** equals 24px */
      transition: $transition;
    }
  }
}



/** States
--------------------------------------------------*/

.checkbox {
  
  /** Checked */
  > input:checked {
    + label {
      opacity: 1;
    }

    + label::before {
      content: "\e821";
      background-color: $checkbox-color;
    }
  }

  /** Disabled and checked */
  > input:disabled {
    + label {
      color: $checkbox-disabled-color;
      cursor: default;

      &::before {
        border-color: $checkbox-disabled-color;
      }
    }
    
    &:checked {
      > label::before {
        background-color: $checkbox-disabled-color;
      }
    }
  }
}
