/**
 * Empty state
 */

.empty-state {
  display: flex;
  align-items: center;
  margin-left: $empty-state-margin-left;
  margin-right: $empty-state-margin-right;
}

.empty-state__image {
  flex: 1;
  pointer-events: none;

  img {
    max-width: 100%;
  }
}

.empty-state__content {
  flex: 1;
}

.empty-state__title {  }

.empty-state__description {
  font-size: $empty-state-description-font-size;
  color: $empty-state-description-color;
  max-width: $empty-state-description-max-width;

  p {
    margin-bottom: $spacing-small;
  }
}

.empty-state__buttons {
  margin-top: $spacing-small;
}

.empty-state--no-gutter {
  margin-left: 0;
  margin-right: 0;
}
