/**
 * Form
 */

/** Form item
--------------------------------------------------*/

.form__item {
  position: relative;
  margin-bottom: $spacing-base;
  
  * {
    transition: $transition;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}


/** Form wrapper
--------------------------------------------------*/

.form__wrapper {
  display: flex;
}


/** Form input wrapper
--------------------------------------------------*/

.form__input-wrapper {
  position: relative;
  flex: 1;
  z-index: 4;
}


/** Form input and textarea
--------------------------------------------------*/

.form__input,
.form__textarea {
  font-size: fontSize('delta');
  padding: ($spacing-base / 3) ($spacing-base / 2);
  color: color('secondary');
  border-radius: $border-radius-main;
  display: block;
  width: 100%;
  border: $border;
  line-height: fontSize('delta') + 4px;
  height: auto;

  &:focus {
    color: color('secondary');
    box-shadow: shadow('input');
    border-color: transparentize(color('secondary'), 0.66);
    outline: 0;
  }

  &::placeholder {
    opacity: 1;
    color: color('gray', 'light');
  }

  &[disabled],
  &[readonly] {
    background-color: transparent;
    opacity: 1;
    color: color('gray');

    &::placeholder {
      color: color('gray');
    }

    &:focus {
      box-shadow: none;
      border: $border;
    }
  }

  &:-webkit-autofill {
    border-color: color('gray', 'lightest') !important;
    -webkit-text-fill-color: color('secondary') !important;
  }

  + .form__label {
    display: none;
  }
}

/** Remove iOS shadow on input */
.form__input {
  &[type=text] {
    appearance: none;
  }
}

.form__textarea {}


/** Form label
--------------------------------------------------*/

.form__label {
  position: absolute;
  top: 0;
  left: 0;
  margin: $spacing-base $spacing-base / 2;
  font-size: fontSize('delta');
  font-weight: fontWeight('normal');
  line-height: fontSize('delta');
  color: color('gray', 'light');
}


/** Form action
--------------------------------------------------*/

.form__extras, 
.form__action {
  height: $input-height;
  padding: 0 $spacing-base / 2;
  display: flex;
  align-items: center;
  z-index: 3;
  border: $border;
  margin-right: -1px;
  border-top-left-radius: $border-radius-main;
  border-bottom-left-radius: $border-radius-main;
  background-color: adjust-color(#000000, $lightness: 97%);
}


/** Form message
--------------------------------------------------*/

.form__message {
  margin-top: $spacing-small;
  font-size: fontSize('zeta');
  color: color('red');
}


/** Form description
--------------------------------------------------*/

.form__description {
  color: color('gray', 'light');
  font-size: fontSize('zeta');
  margin-top: $spacing-small;
}



/** States
--------------------------------------------------*/

.form__item {

  /** Error */
  &.has-error {
    .form__input,
    .form__textarea {
      border-color: rgba(color('red'), 0.75);
    }
  }

  /** Action */
  &.has-extras, 
  &.has-action {
    display: flex;
    flex-wrap: wrap;

    .form__input {
      // flex: 1;

      &[readonly] {
        color: color('secondary');
      }
    }

    .form__description {
      width: 100%;
    }
    
    // Style inputs with actions/extras
    .form__action + .form__input-wrapper {
      .form__input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .form__input-wrapper:first-child {
      .form__input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .form__input-wrapper + .form__action {
      margin-right: 0;
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: $border-radius-main;
      border-bottom-right-radius: $border-radius-main;
    }
  }
}



/** Sizes
--------------------------------------------------*/

/** Large */
.form--large {
  .form__input,
  .form__textarea {
    padding: (($input-height-large / 2) - ($input-large-line-height / 2) - 2px) $spacing-small; // the 2px account for the border
    min-height: $input-height-large;

    + .form__label {
      display: block;
    }

    &.is-full {
      padding: ($spacing-base + 4px) ($spacing-base / 2) ($spacing-base / 2);

      + .form__label {
        line-height: 1;
        height: auto;
        font-size: fontSize('omega');
        color: color('black');
        margin: $spacing-small 0 0 $spacing-small;
        z-index: 1;
        
        &::before {
          content: " ";
          position: absolute;
          width: calc(100% + #{$spacing-small});
          height: calc( 100% + #{$spacing-small} / 2);
          left: -$spacing-small / 2;
          top: -$spacing-small / 4;
          background-color: color('white');
          z-index: -1;
          transition: none;
          border-radius: $spacing-small;
        }
      }
    }
  }

  .form__extras,
  .form__action {
    height: $input-height-large;
  }

  .form__textarea {
    height: auto;
    
    &.is-full {
      padding: ($spacing-base + 2px) ($spacing-base / 2) ($spacing-base / 2);
    }
  }
}
