/**
 * Dropdown
 */

.o-form-dropdown {
  position: relative;
  z-index: 1;
  min-width: $o-dropdown-label-min-width;

  &:hover {
    cursor: pointer;
  }
}


/** Dropdown input
--------------------------------------------------*/

.o-form-dropdown__input {
  display: none;
}


/** Dropdown label
--------------------------------------------------*/

.o-form-dropdown__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  color: $o-dropdown-label-color;
  width: 100%;
  line-height: $o-dropdown-label-line-height;
  border: $o-dropdown-label-border;
  border-radius: $o-dropdown-label-border-radius;
  height: $o-dropdown-label-height;
  font-size: $o-dropdown-label-font-size;
  padding: $o-dropdown-label-padding;
}


/** Dropdown text
--------------------------------------------------*/

.o-form-dropdown__text {
  position: relative;
  z-index: 2;
  color: $o-dropdown-text-color;
  border-radius: $o-dropdown-text-border-radius;
  display: block;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  height: $o-dropdown-text-height;
  font-size: $o-dropdown-text-font-size;
  padding: $o-dropdown-text-padding;

  &.no-label {
    padding-top: $o-dropdown-text-no-label-padding-top;
  }
}

/** Dropdown icon
--------------------------------------------------*/

.o-form-dropdown__icon {
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  height: $o-dropdown-icon-height;
  width: $o-dropdown-icon-width;
  right: $o-dropdown-icon-right;

  svg {
    height: $o-dropdown-icon-height / 2;
    width: $o-dropdown-icon-width;
    display: block;

    path {
      fill: $o-dropdown-icon-fill;
    }

    &:first-child {
      transform: rotate(180deg);
    }
  }
}

/** Dropdown content
--------------------------------------------------*/

.o-form-dropdown__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: $o-dropdown-content-border-radius;
  border: $o-dropdown-content-border;
  padding-top: $o-dropdown-content-padding-top;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  box-shadow: $o-dropdown-content-shadow;
  background-color: $o-dropdown-content-background-color;
}

/** Dropdown menu
--------------------------------------------------*/

.o-form-dropdown__menu {
  padding: 0;
  list-style-type: none;
  margin: $o-dropdown-menu-margin;
  max-height: $o-dropdown-menu-max-height;
  overflow: auto;

  li {
    display: flex;
    align-items: center;
    color: $o-dropdown-item-color;
    font-size: $o-dropdown-item-font-size;
    padding: $o-dropdown-item-padding;

    &:hover {
      cursor: pointer;
      color: $o-dropdown-item-hover-color;
      background-color: $o-dropdown-item-hover-background-color;
    }
  }

  li.o-is-selected {
    cursor: not-allowed;

    &:hover {
      color: $o-dropdown-item-selected-color;
    }
  }
}



/** States
--------------------------------------------------*/

/** Open and with a value */
.o-form-dropdown.is-open,
.o-form-dropdown.has-focus,
.o-form-dropdown.has-value {

  .o-form-dropdown__label {
    color: $o-dropdown-action-label-color;
    height: 100%;
    font-size: $o-dropdown-action-label-font-size;
    padding: $o-dropdown-action-label-padding;
  }

  .o-form-dropdown__text {
    color: $o-dropdown-action-text-color;
    opacity: $o-dropdown-action-text-opacity;
    visibility: visible;
  }
}

/** Open */
.o-form-dropdown.is-open {
  z-index: 10;

  .o-form-dropdown__label {
    border-color: $o-dropdown-open-label-border-color;
    border-bottom-color: $o-dropdown-open-label-border-bottom-color;
  }

  .o-form-dropdown__content {
    opacity: $o-dropdown-open-content-opacity;
    visibility: visible;
  }

  .o-form-dropdown__text {
    border-color: $o-dropdown-open-text-border-color;
    border-bottom-color: $o-dropdown-open-text-border-bottom-color;
  }

  .o-form-dropdown__icon {
    svg {
      transform: rotate(180deg);

      path {
        fill: $o-dropdown-open-icon-fill;
      }

      &:first-child {
        transform: rotate(0deg);
      }
    }
  }
}

/** Disabled */
.o-form-dropdown.is-disabled {
  pointer-events: none;
  cursor: default;

  .o-form-dropdown__label {
    border-color: $o-dropdown-disabled-label-border-color;
  }

  .o-form-dropdown__text {
    color: $o-dropdown-disabled-text-color;
  }

  .o-form-dropdown__icon {
    svg {
      path {
        fill: $o-dropdown-disabled-icon-fill;
      }
    }
  }
}



/** Search
--------------------------------------------------*/

.o-form-dropdown--search {
  .o-form-dropdown__input {
    position: relative;
    z-index: 99;
    font-size: fontSize('zeta');
    padding: ($o-spacing-base / 1.2 - 2) ($o-spacing-base / 2) ($o-spacing-base / 4);
    color: color('secondary');
    border-radius: $o-border-radius-main;
    display: block;
    width: 100%;
    background-color: transparent;
    border-width: 0;
    height: $o-input-height;
    opacity: 0;

    &:focus {
      outline: none;
      opacity: 1;
    }
  }

  .o-form-dropdown__search-text {
    position: absolute;
    left: 0;
    top: 0;
    color: color('secondary');
    z-index: 2;
    font-size: fontSize('zeta');
    padding: ($o-spacing-base / 1.2 - 2) ($o-spacing-base / 2) ($o-spacing-base / 4);
    height: $o-input-height;
  }

  &.is-opened,
  &.is-open {
    .o-form-dropdown__search-text {
      z-index: -1;
    }
  }
}



/** Styles
--------------------------------------------------*/

/** Large */
.o-form--large {
  .o-form-dropdown {
    .o-form-dropdown__label {
      font-size: $o-dropdown-large-label-font-size;
      padding: $o-dropdown-large-label-padding;
      min-height: $o-dropdown-large-label-height;
    }

    .o-form-dropdown__text {
      font-size: $o-dropdown-large-text-font-size;
      padding: $o-dropdown-large-text-padding;
      min-height: $o-dropdown-large-label-height;
    }

    &.has-focus,
    &.has-value,
    &.is-open {
      .o-form-dropdown__label {
        padding: $o-dropdown-large-action-label-padding;
        font-size: $o-dropdown-large-action-label-font-size;
      }
    }

    .o-form-dropdown__icon {
      width: $o-dropdown-large-icon-width;
      height: $o-dropdown-large-icon-height;
      right: $o-dropdown-large-icon-right;

      svg {
        width: $o-dropdown-large-icon-width;
        height: $o-dropdown-large-icon-height / 2;
      }
    }

    .o-form-dropdown__content {
      padding-top: $o-dropdown-large-content-padding-top;
    }

    .o-form-dropdown__menu {
      margin: $o-dropdown-large-menu-margin;

      li {
        font-size: $o-dropdown-large-item-font-size;
        padding: $o-dropdown-large-item-padding;
      }
    }

    /** Search */
    &.o-form-dropdown--search {
      .o-form-dropdown__input,
      .o-form-dropdown__search-text {
        font-size: $o-dropdown-large-text-font-size;
        padding: $o-dropdown-large-text-padding;
        min-height: $o-dropdown-large-label-height;
      }
    }
  }
}



/** With an input */
.o-dropdown-with-input {
  .o-form-dropdown {
    min-width: 120px;
  }

  .o-form-dropdown__label {
    border-color: color('gray', 'lightest');
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1;
  }

  .o-form-dropdown__icon {
    right: $o-spacing-base / 4;
  }

  .o-form__input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
