/**
 * Image
 */

.o-image {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  transition: $o-image-transition;
  margin-bottom: $o-image-margin-bottom;

  > img {
    display: block;
    max-width: 100%;
  }
}

/** Looks
--------------------------------------------------*/
.o-image--rounded {
  border-radius: $o-image-border-radius;
}

.o-image--circle {
  border-radius: 100%;

  > img {
    width: 100%;
  }
}

.o-image--shadow {
  box-shadow: $o-image-shadow-shadow;
}

.o-image--action {
  &:hover {
    opacity: $o-image-action-hover-opacity;
  }
}

/** Sizes
--------------------------------------------------*/
@each $o-name, $o-size in $o-image-sizes {
  .o-image--size-#{$o-name} {
    width: $o-size;
  }
}

/** Square/circle in any dimension
--------------------------------------------------*/
.o-image-wrapper {
  display: inline-block;
  width: $o-image-wrapper-basic-size;
  max-width: 100%;

   .o-image {
    position: relative;
    width: 100%;
    height: 0;
    padding: 100% 0 0;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@each $o-name, $o-size in $o-image-sizes {
  .o-image-wrapper--size-#{$o-name} {
    width: $o-size;
  }
}

/** Remove margin in grid as grid have gap
--------------------------------------------------*/
.grid [class*="col"] .o-image {
  margin-bottom: 0;
}