/**
 * Label
 */

.label {
  border-radius: $label-border-radius;
  font-size: $label-font-size;
  display: inline-flex;
  align-items: center;
  padding: $label-padding;
  height: $label-height;
  background-color: $label-basic-background-color;
  color: $label-basic-color;

  [class^="icon-"], [class*=" icon-"] {
    font-size: $label-icon-font-size;
    margin-right: $label-icon-margin-right;
  }

  + .label {
    margin-left: $label-margin-left;
  }
}

/** Styles
--------------------------------------------------*/

/** Small */
.label--small {
  padding: $label-small-padding;
  height: $label-small-height;
}

/** Dot */
.label--dot {
  width: $label-dot-width-height;
  height: $label-dot-width-height;
  padding: 0;
}

/** Pill */
.label--pill {
  width: $label-pill-width;
  height: $label-pill-height;
}


/** States
--------------------------------------------------*/

.label--dismiss {
  [class^="icon-"], [class*=" icon-"] {
    &:hover {
      cursor: pointer;
      color: $label-dismiss-icon-hover-color;
    }
  }
}

/** Colors
--------------------------------------------------*/

/** Regular style colors */
@each $prefix, $meaning in $colors {
  @each $colorKey, $colorValue in $meaning {

    @if ($colorKey == 'base') {
      .label--#{$prefix} {
        background-color: rgba($colorValue, 0.1);
        color: $colorValue;

        &.label--dismiss {
          [class^="icon-"], [class*=" icon-"] {
            &:hover {
              color: color($prefix, 'dark');
            }
          }
        }
      }
    } @else {
      .label--#{$prefix}-#{$colorKey} {
        background-color: rgba($colorValue, 0.1);
        color: $colorValue;

        &.label--dismiss {
          [class^="icon-"], [class*=" icon-"] {
            &:hover {
              color: color($prefix, 'dark');
            }
          }
        }
      }
    }
  }
}

/** Dot and pill colors */
@each $prefix, $meaning in $colors {
  @each $colorKey, $colorValue in $meaning {

    @if ($colorKey == 'base') {
      .label--dot.label--#{$prefix},
      .label--pill.label--#{$prefix} {
        background-color: $colorValue;
      }
    } @else {
      .label--dot.label--#{$prefix}-#{$colorKey},
      .label--pill.label--#{$prefix}-#{$colorKey} {
        background-color: $colorValue;
      }
    }
  }
}
