/**
 * List
 */

ul, ol {
  padding-left: $list-tag-left-padding;
  margin: 0;
}

.list {
  padding: $list-padding;
}

/** Item
--------------------------------------------------*/

.list__item, .list > li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding-left: $list-item-horizontal-padding;
  padding-right: $list-item-horizontal-padding;

  /** Disabled state */
  &.is-disabled {
    background-color: $list-item-disabled-background-color;
  }

  .list__item-title, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-size: inherit;
  }

  .list__item-description, p {
    margin-bottom: 0;
    color: $list-item-description-color;
    font-size: $list-item-description-font-size; /** set description text to 90% size relative to style's font size */
  }
}


/** Action
--------------------------------------------------*/

.list__action {
  margin-left: auto;
}


/** Styles
--------------------------------------------------*/

/** Divide */
.list--divide {
  .list__item, > li {
    border-top: $list-divide-item-top-border;

    &:first-child {
      border-top: none;
    }
  }
}

/** Large */
.list--large {
  font-size: $list-large-font-size;

  .list__item, > li {
    padding-top: $list-large-item-vertical-padding;
    padding-bottom: $list-large-item-vertical-padding;
  }

  .list__item-title, h1, h2, h3, h4, h5, h6 {
    margin-bottom: $list-large-item-title-margin-bottom;
  }

  .list__item-description, p {
    font-size: $list-large-item-description-font-size;
  }
}

/** Medium */
.list--medium {
  font-size: $list-medium-font-size;

  .list__item, > li {
    padding-top: $list-medium-item-vertical-padding;
    padding-bottom: $list-medium-item-vertical-padding;
  }

  .list__item-title, h1, h2, h3, h4, h5, h6 {
    margin-bottom: $list-medium-item-title-margin-bottom;
  }

  .list__item-description, p {
    font-size: $list-medium-item-description-font-size;
  }
}

/** Small */
.list--small {
  font-size: $list-small-font-size;

  .list__item, > li {
    padding-top: $list-small-item-vertical-padding;
    padding-bottom: $list-small-item-vertical-padding;
  }

  .list__item-title, h1, h2, h3, h4, h5, h6 {
    margin-bottom: $list-small-item-title-margin-bottom;
  }

  .list__item-description, p {
    font-size: $list-small-item-description-font-size;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    font-size: $list-small-item-icon-font-size;
  }
}

/** Without gutter */
.list--no-gutter {
  margin: $list-no-gutter-margin;
}

/** Hover */
.list--hover {
  .list__item, > li {
    &:hover {
      background-color: $list-hover-item-hover-background-color;
    }
  }
}

/** Pointer */
.list--pointer {
  .list__item, > li {
    &:hover {
      cursor: pointer;
    }
  }
}
