/**
 * Navigation
 */


.nav {

  /** Menu
  --------------------------------------------------*/
  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: $spacing-base / 2;
    display: flex;
    user-select: none;
  }


  /** Item
  --------------------------------------------------*/
  > ul > li {
    &:first-child {
      margin-left: -$spacing-small;
    }
  }

  /** Link
  --------------------------------------------------*/
  > ul > li > a {
    font-size: $nav-link-font-size;
    display: flex;
    align-items: center;
    position: relative;
    padding: $spacing-base / 2;
    color: rgba($nav-default-link-color, $nav-default-link-color-opacity);
    height: $nav-link-height;

    &:hover {
      color: rgba($nav-default-link-color, $nav-default-link-color-opacity-hover);
      text-decoration: none;

      &::before {
        opacity: 1;
        cursor: pointer;
      }
    }

    /** Active state */
    &.is-active,
    &.is-exact-active.is-active {
      color: rgba($nav-default-link-color, $nav-default-link-color-opacity-active);

      &::after {
        content: " ";
        width: calc(100% - #{$spacing-base});
        position: absolute;
        left: $spacing-small;
        bottom: -$spacing-base / 2;
        border-bottom: 1px solid;
        border-bottom-color: $nav-default-link-color;
        z-index: 1;
      }
    }

    /** Disabled state */
    &.is-disabled {
      cursor: default;
      pointer-events: none;
      opacity: 0.5;
    }

    &::before {
      content: '';
      position: absolute;
      width: calc(100% - #{$spacing-base} / 4);
      height: calc(100% - #{$spacing-base} / 4);
      left: $spacing-base / 8;
      top: $spacing-base / 8;
      border-radius: $border-radius-main;
      opacity: 0;
      background-color: rgba($nav-default-link-color, $nav-default-link-bgcolor-opacity);
      pointer-events: none;
    }
  }

  /** Icon
  --------------------------------------------------*/
  [class^="icon-"],
  [class*=" icon-"] {
    margin-right: $spacing-base / 4;
  }
}



/** Colors
--------------------------------------------------*/

@each $name, $value in $colors {
  .nav--color-#{$name} {
    ul > li > a {
      color: rgba(color(#{$name}), $nav-link-color-opacity);

      &:hover {
        color: rgba(color(#{$name}), $nav-link-color-opacity-hover);
      }

      &::after {
        border-bottom-color: color(#{$name});
      }

      &::before {
        background-color: rgba(color(#{$name}), $nav-link-bgcolor-opacity);
      }

      &.is-active,
      &.is-exact-active.is-active {
        color: rgba(color(#{$name}), $nav-link-color-opacity-active);

        &::after {
          border-bottom-color: color(#{$name});
        }
      }
    }
  }
}

/** Alignments
--------------------------------------------------*/
.nav--center {
  > ul {
    justify-content: center;
  }

  > ul > li {
    &:first-child {
      margin-left: 0;
    }
  }
}

.nav--right {
  > ul {
    justify-content: flex-end;
  }

  > ul > li {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: -$spacing-small;
    }
  }
}
