/**
 * Radio
 */


/** Radio group
--------------------------------------------------*/

.radio-group {
  height: $radio-group-height;
  padding: $radio-group-padding;
  border: $radio-group-border;
  border-radius: $radio-group-border-radius;
}


/** Radio group label
--------------------------------------------------*/

.radio-group__label {
  margin-bottom: $radio-bottom-margin;
  font-size: $radio-label-font-size;
  line-height: 1;
  color: $radio-label-text-color;
}


/** Radio
--------------------------------------------------*/

.radio {
  display: inline-block;
  position: relative;
  font-size: $radio-font-size;

  & + & {
    margin-left: $spacing-base;
  }

  /** Radio Input
  --------------------------------------------------*/

  > input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }

  /** Radio label
  --------------------------------------------------*/
  > label {
    font-size: $radio-font-size;
    display: flex;
    align-items: center;
    min-height: $radio-width-height;
    padding-left: $radio-width-height + $spacing-base / 4;
    position: relative;
    line-height: 1;
    cursor: pointer;
    color: $radio-color;
    opacity: 0.5;

    &::before {
      height: $radio-width-height;
      width: $radio-width-height;
      border: 1px solid $radio-color;
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: transparent;
      border-radius: $radio-border-radius;
      content: '';
    }

    &::after {
      width: $spacing-small;
      height: $spacing-small;
      top: $spacing-base / 8;
      left: $spacing-base / 8;
      position: absolute;
      background-color: $radio-color;
      border-radius: $radio-border-radius;
      content: '';
      opacity: 0;
      visibility: hidden;
    }
  }
}



/** States
--------------------------------------------------*/

.radio {
  
  /** Checked state */
  > input:checked {
    + label {
      opacity: 1;

      &::after {
        opacity: 1;
        visibility: visible;
        background-color: $radio-color;
      }
    }
  }

  /** Disabled and checked */
  > input:disabled {
    + label {
      pointer-events: none;
      color: $radio-disabled-color;

      &::before {
        border-color: $radio-disabled-color
      }

      &::after {
        background-color: $radio-disabled-color;
      }
    }

    &:checked {
      + label {
        &::after {
          background-color: $radio-disabled-color;
        }
      }
    }
  }
}
