/**
 * Table
 */

.table {
  width: 100%;
  margin: $table-vertical-margin;
  
  font-size: $table-font-size;
  color: $table-text-color;
  text-align: left;
  
  border-radius: $table-border-radius;
  border-collapse: separate;
  border-spacing: 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  th {
    font-weight: $table-head-cell-font-weight;
    color: $table-head-cell-text-color;
    padding: $table-head-cell-padding;

    @media #{$small-and-down} {
      width: 100%;
      display: block;
    }
  }

  th:first-child{
    padding-left: $table-head-cell-first-left-padding;
  }

  td {
    border-top: $table-body-cell-border-top;
    padding: $table-body-cell-padding;

    @media #{$small-and-down} {
      width: 100%;
      display: block;
    }
  }

  td:first-child {
    font-size: $table-body-cell-first-font-size;
    color: $table-body-cell-first-color;
    padding-left: $table-body-cell-first-padding-left;

    a {
      color: $table-body-cell-first-color;
    }
  }

  td.collapsing {
    width: 1px;
    white-space: nowrap;
  }
}


/** Styles
--------------------------------------------------*/


/** With a bottom border */
.table--border-bottom {
  border-bottom: $table-bottom-border;
}

/** Equal column widths */
.table--fixed {
  table-layout: fixed;
}

/** Celled */
.table--celled {
  border: $table-celled-border;

  th {
    border-left: $table-celled-head-cell-border-left;
    background-color: $table-celled-head-cell-background-color;
    color: $table-celled-head-cell-text-color;
    font-weight: $table-celled-head-cell-font-weight;

    &:first-child {
      border-left-color: $table-celled-head-cell-first-border-color;
    }
  }

  td {
    border-left: $table-celled-body-cell-border-left;

    &:first-child {
      border-left-color: $table-celled-body-cell-first-border-color;
    }
  }
}

/** Compact */
.table--compact {
  color: $table-compact-text-color;

  td {
    padding: $table-compact-body-cell-padding;
  }

  td:first-child {
    padding-left: $table-compact-body-cell-first-left-padding;
    font-size: $table-compact-body-cell-first-font-size;
  }
}

/** With heads left of the content */
.table--definition {
  th {
    vertical-align: $table-definition-vertical-align;
    padding-bottom: $table-definition-vertical-padding;
    padding-top: $table-definition-vertical-padding;
  }

  td:nth-child(2) {
    border-left: $table-definition-body-cell-second-border-left;
  }

  td.ignored {
    color: $table-definition-body-cell-ignored-text-color;
  }
}
