/**
 * Table Wrapper
 */

.o-table-wrapper {
  overflow: auto;
}

.o-table-wrapper--fixed-header {
  position: relative;

  th {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .o-table:not(.o-table--celled) {
    th {
      background-color: color('white');
    }
  }
}

/** Table
 --------------------------------------------------*/
  
.o-table {
  width: 100%;
  margin: $o-table-vertical-margin;
  
  font-size: $o-table-font-size;
  color: $o-table-text-color;
  text-align: left;
  
  border-radius: $o-table-border-radius;
  border-collapse: separate;
  border-spacing: 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  th {
    font-weight: $o-table-head-cell-font-weight;
    color: $o-table-head-cell-text-color;
    padding: $o-table-head-cell-padding;

    @media #{$o-sm-and-down} {
      width: 100%;
      display: block;
    }
  }

  th:first-child{
    padding-left: $o-table-head-cell-first-left-padding;
  }

  td {
    border-top: $o-table-body-cell-border-top;
    padding: $o-table-body-cell-padding;

    @media #{$o-sm-and-down} {
      width: 100%;
      display: block;
    }
  }

  td:first-child {
    font-size: $o-table-body-cell-first-font-size;
    color: $o-table-body-cell-first-color;
    padding-left: $o-table-body-cell-first-padding-left;

    a {
      color: $o-table-body-cell-first-color;
    }
  }

  td.o-collapsing {
    width: 1px;
    white-space: nowrap;
  }
}


/** Styles
--------------------------------------------------*/


/** With a bottom border */
.o-table--border-bottom {
  border-bottom: $o-table-bottom-border;
}

/** Equal column widths */
.o-table--fixed {
  table-layout: fixed;
}

/** Celled */
.o-table--celled {
  border: $o-table-celled-border;

  th {
    border-left: $o-table-celled-head-cell-border-left;
    background-color: $o-table-celled-head-cell-background-color;
    color: $o-table-celled-head-cell-text-color;
    font-weight: $o-table-celled-head-cell-font-weight;

    &:first-child {
      border-left-color: $o-table-celled-head-cell-first-border-color;
    }
  }

  td {
    border-left: $o-table-celled-body-cell-border-left;

    &:first-child {
      border-left-color: $o-table-celled-body-cell-first-border-color;
    }
  }
}

/** Compact */
.o-table--compact {
  color: $o-table-compact-text-color;

  td {
    padding: $o-table-compact-body-cell-padding;
  }

  td:first-child {
    padding-left: $o-table-compact-body-cell-first-left-padding;
    font-size: $o-table-compact-body-cell-first-font-size;
  }
}

/** With heads left of the content */
.o-table--definition {
  th {
    vertical-align: $o-table-definition-vertical-align;
    padding-bottom: $o-table-definition-vertical-padding;
    padding-top: $o-table-definition-vertical-padding;
  }

  td:nth-child(2) {
    border-left: $o-table-definition-body-cell-second-border-left;
  }

  td.o-ignored {
    color: $o-table-definition-body-cell-ignored-text-color;
  }
}
