/**
 * Thumbnail
 */

.thumbnail {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  background-color: color('white');
  border-radius: $thumbnail-border-radius;
  transition: $thumbnail-transition;
  margin-bottom: $thumbnail-margin-bottom;

  > img {
    display: block;
    max-width: 100%;
  }
}

/** Looks
--------------------------------------------------*/

.thumbnail--circle {
  border-radius: 100%;

  > img {
    border-radius: 100%;
  }
}

.thumbnail--shadow {
  box-shadow: $thumbnail-shadow;
}

.thumbnail--action {
  &:hover {
    box-shadow: $thumbnail-shadow-hover;
    transform: $thumbnail-shadow-hover-transform;
  }
}
