/**
 * Text
 */

/** Align
--------------------------------------------------*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


/** Transform
--------------------------------------------------*/

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}


/** Style
--------------------------------------------------*/

.text-italic {
  font-style: italic;
}

.text-style-normal {
  font-style: normal;
}


/** Utilities
--------------------------------------------------*/

/** Sizes */
@each $name, $size in $font-sizes {
  .fs-#{$name} {
    font-size: $size;
  }
}

/** Weights */
@each $name, $weight in $font-weights {
  .font-#{$name} {
    font-weight: $weight;
  }
}

/** Ellipsis */
.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
