/**
 * Text
 */

/** Align
--------------------------------------------------*/
@each $alignment in $text-alignments {
  .text-#{$alignment} {
    text-align: #{$alignment};
  }
}

/** Responsive */
@each $breakpoint-key, $breakpoint-value in $breakpoints {
  @each $alignment in $text-alignments {
    @include breakpoint-and-up($breakpoint-key) {
      .#{$breakpoint-key}\:text-#{$alignment} {
        text-align: #{$alignment};
      }
    }
  }
}


/** Transform
--------------------------------------------------*/

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}


/** Style
--------------------------------------------------*/

.text-italic {
  font-style: italic;
}

.text-style-normal {
  font-style: normal;
}


/** Sizes
--------------------------------------------------*/

@each $name, $size in $font-sizes {
  .fs-#{$name} {
    font-size: $size;
  }
}

/** Responsive */
@each $breakpoint-key, $breakpoint-value in $breakpoints {
  @each $name, $size in $font-sizes {
    @include breakpoint-and-up($breakpoint-key) {
      .#{$breakpoint-key}\:fs-#{$name} {
        font-size: #{$size};
      }
    }
  }
}


/** Font Weights
--------------------------------------------------*/
@each $name, $weight in $font-weights {
  .font-#{$name} {
    font-weight: $weight;
  }
}

/** Ellipsis
--------------------------------------------------*/

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
