/**
 * Docs styles
 */

$docs-sidebar-width: $o-spacing-base * 8;
$docs-navigation-height: 64px;


body {
  background-color: color('white');
}

/**
  Grid
*/
.page-docs-layout-grid .grid > div {
  padding: $o-spacing-base;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: fontSize('delta');
  color: color('white');
  background: color('primary');
  border-radius: 3px;
}

/** Navigationp
--------------------------------------------------*/

.docs__navigation {
  position: fixed;
  top: 0;
  height: $docs-navigation-height;
  width: 100%;

  display: flex;
  justify-content: space-between;

  background-color: color('white');
  border-bottom: $o-border;
  padding: $o-spacing-small;
  z-index: 1000;

  &-router {
    display: flex;
  }

  &-logo {
    line-height: 0;
    margin-right: $o-spacing-base;

    img {
      width: 40px;
      height: 40px;
    }
  }
}


/** Layout
--------------------------------------------------*/

.docs__section {
  // max-width: 960px;
  min-height: calc(100vh - 224px);
  margin: $docs-navigation-height 0 0 0;
}

.page-index,
.page-changelog,
.page-manifesto {
  .docs__section {
    margin: $docs-navigation-height auto;
  }
}

.docs__sidebar-wrap {
  position: sticky;
  top: $docs-navigation-height;
  float: left;
  width: $docs-sidebar-width;
  height: calc(100vh - #{$docs-navigation-height});
  border-right: 1px solid color('gray', 'lightest');

  overflow: auto;

  padding-left: $o-spacing-base;
}

.docs__content-wrap {
  padding-left: $docs-sidebar-width;
  margin-left: 0;
  margin-right: 0;
}

.docs__footer {
  height: $docs-navigation-height * 1.5;
  width: 100%;
  z-index: +1;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: color('white');
  border-top: $o-border;
  padding: $o-spacing-small;

  text-align: center;

  p {
    font-size: fontSize('zeta');
    color: color('gray');
    margin: 0;
  }

  a {
    color: color('gray');
  }

  &-links a {
    color: color('gray');
    margin: 0 $o-spacing-small;
  }
}

/** List
--------------------------------------------------*/

.docs__simple-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  & > li {
    border-bottom: $o-border;
    padding: $o-spacing-small 0;

    > h5 {
      margin-bottom: $o-spacing-small / 2;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}


/** Code blocks
--------------------------------------------------*/

.code-block {
  position: relative;
  margin: $o-spacing-base 0;

  pre {
    margin: 0;
    font-size: 0;
  }

  .hljs,
  .hljs-subst {
    overflow: auto;
    color: color('gray', 'dark');
    font-size: fontSize('zeta');
    border-radius: $o-border-radius-main;
    border: $o-border;
    padding: $o-spacing-base;
    background-color: color('white');
  }

  .hljs-keyword,
  .hljs-attribute,
  .hljs-selector-tag,
  .hljs-meta-keyword,
  .hljs-doctag,
  .hljs-name {
    font-weight: fontWeight('normal');
  }

  .o-label {
    position: absolute;
    top: $o-spacing-base / 2;
    right: $o-spacing-base / 2;
  }
}


/** Colors
--------------------------------------------------*/

.docs__bg-color-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    display: inline-block;
    margin-right: $o-spacing-base / 2;
    margin-bottom: $o-spacing-base / 2;
  }

  .docs__bg-color-item {
    border-radius: $o-border-radius-main;
    width: $o-spacing-base * 5;
    height: $o-spacing-base * 5;
    margin-bottom: $o-spacing-base
  }
}


/** Sidebar
--------------------------------------------------*/

.docs__sidebar {
  margin-top: $o-spacing-base;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: $o-spacing-base;
  }

  h1, h2, h3, h4, h5, h6 {
    &:hover {
      cursor: pointer;
    }
  }

  li {
    margin-top: $o-spacing-base / 6;
    bottom: $o-spacing-base / 6;
  }

  h6 {
    margin-bottom: $o-spacing-small / 2;
  }

  a {
    display: block;
    position: relative;
    z-index: 10;
    color: color('secondary');
    font-size: fontSize('zeta');
    margin-left: $o-spacing-small;

    &:hover {
      text-decoration: none;
    }

    span {
      position: relative;
    }

    &:hover span::before,
    &.is-active span::before {
      content: " ";
      position: absolute;
      z-index: -1;
      left: -6px;
      right: -6px;
      top: -4px;
      bottom: -4px;
      border-radius: $o-border-radius-main;
      background-color: rgba(color('secondary'), 0.05);
    }
  }
}


/** Icons list
--------------------------------------------------*/

.docs__icons-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.docs__icons-item {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color('gray', 'lightest');
  position: relative;
  text-align: center;
  margin: $o-spacing-small;
  border-radius: $o-border-radius-main;

  &:hover {
    color: color('white');
    background-color: color('secondary', 'light');
  }
}

.docs__icons-text {
  position: absolute;
  top: calc(100% + #{$o-spacing-small});
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding: $o-spacing-small;
  border-radius: $o-border-radius-main;
  box-shadow: shadow('primary');
  color: color('black');
  background-color: color('white');
  z-index: 1;
  white-space: nowrap;

  .docs__icons-item:hover & {
    display: block;
  }
}


/** Modifiers
--------------------------------------------------*/

/** Header */
.docs__header {
  padding: $o-spacing-base ($o-spacing-base * 2) 0 ($o-spacing-base * 2);
  display: flex;
  align-items: center;

  h1 {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: $o-spacing-small
  }

  & + .docs__item {
    margin-top: -$o-spacing-base;
  }
}

/** Item */
.docs__item {
  border-bottom: $o-border;
  padding: $o-spacing-base * 2;

  // limit the width of explanation text blocks
  &.explanation > div {
    max-width: $o-spacing-base * 28;
  }

  & > h2:first-child {
    margin-top: 0;
  }

  &:last-child {
    border: none;
  }

  & > div > h3 {
    margin-top: $o-spacing-base * 2;
  }

  & > div > ul li p:last-child {
    margin-bottom: 0;
  }
}
