/**
 * Landing
 */

 .page-index {

   .empty-state {
     margin-top: $o-spacing-base * 2;
     margin-bottom: $o-spacing-base * 2;
   }

   h1 {
     font-size: fontSize('giga');
     line-height: 0.75;
     margin-top: 0;
     margin-bottom: $o-spacing-base;
   }

 	.empty-state__description {
		color: color('black');
    margin-bottom: $o-spacing-base;
 	}

  .empty-state__image {
    text-align: center;
    img {
      // max-width: $o-spacing-base * 12;
      max-width: auto;
    }
  }
 }
