/**
 * Typography
 */

/** Global
--------------------------------------------------*/

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $o-line-height;
  font-size: fontSize('epsilon');
  font-family: $o-font-primary;
}


/** Links
--------------------------------------------------*/

a {
  text-decoration: none;
  color: color('secondary');

  &:hover {
    text-decoration: none;
    color: color('secondary', 'light');
  }
}


/** Body text
--------------------------------------------------*/

p {
  margin: 0 0 $o-spacing-base * 1;
}

pre {
  margin: 0 0 $o-spacing-base * 1;  
}

code {
  font-family: $o-font-monospace;
}


/** Inline mark element */
mark {
  border-radius: $o-border-radius-main;
  padding: $o-spacing-small / 8 $o-spacing-small / 4;
  color: color('secondary');
  background-color: transparentize(color('secondary'), 0.95);
}

/** Inline code element */
p code,
.o-table code {
  padding: $o-spacing-small / 8 $o-spacing-small / 4;
  color: color('secondary');
  background-color: transparentize(color('secondary'), 0.95);

  font-size: 0.9em; /** compensate for bigger mono-spaced fonts */
}

/** Headings
--------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
.h1 {
  font-size: fontSize('mega');
  font-weight: fontWeight('bold');
  margin: $o-spacing-base 0;
}

h2,
.h2 {
  font-size: fontSize('alpha');
  font-weight: fontWeight('normal');
  margin: $o-spacing-base 0;
}

h3,
.h3 {
  font-size: fontSize('gamma');
  font-weight: fontWeight('normal');
  margin: $o-spacing-small 0;
}

h4,
.h4 {
  font-size: fontSize('delta');
  font-weight: fontWeight('normal');
  margin: $o-spacing-small 0;
}

h5,
.h5 {
  font-size: fontSize('epsilon');
  font-weight: fontWeight('normal');
  margin: $o-spacing-small 0;
}

h6,
.h6 {
  font-size: fontSize('zeta');
  font-weight: fontWeight('normal');
  margin: $o-spacing-small 0;
}
