/**
 * Variables
 */

/** Global
--------------------------------------------------*/
@import "./variables/grid/grid";
@import "./variables/grid/breakpoints";
@import "./variables/grid/media-queries";
@import "./variables/spacings";

$transition: all 150ms ease-out !default;

/** Sidebar */
$sidebar-width: 243px !default;


/** Typography
--------------------------------------------------*/

$include-fonts: true !default;
$font-url: 'https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i|Roboto+Mono&display=swap' !default;
$font-primary: "Rubik", arial, sans-serif !default;
$font-monospace: 'Roboto Mono', monospace !default;
$font-icon-url: '../../fonts' !default;

$line-height: 1.5 !default;

$font-sizes: (
  'giga': 76px,
  'mega': 54px,
  'alpha': 36px,
  'beta': 28px,
  'gamma': 21px,
  'delta': 18px,
  'epsilon': 16px,
  'zeta': 14px,
  'omega': 12px
) !default;

$font-weights: (
  'thin': 100,
  'extralight': 200,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'bold': 600,
  'extrabold': 700,
  'black': 800
) !default;

/** Include fonts */
@if ($include-fonts) {
  @import url($font-url);
}


/** Colors
--------------------------------------------------*/
$darken: 20%;
$lighten: 20%;
$saturate: 20%;

$colors: (
  'primary': (
    'base': #ffa941,
    'dark': adjust-color(#ffa941, $lightness: -$darken, $saturation: $saturate),
    'light': adjust-color(#ffa941, $lightness: $lighten, $saturation: $saturate),
  ),
  'secondary': (
    'base': #4648d2,
    'dark': adjust-color(#4648d2, $lightness: -$darken, $saturation: $saturate),
    'light': adjust-color(#4648d2, $lightness: $lighten, $saturation: $saturate),
  ),

  'red': (
    'base': #FA3D49,
    'dark': adjust-color(#FA3D49, $lightness: -$darken, $saturation: $saturate),
    'light': adjust-color(#FA3D49, $lightness: $lighten, $saturation: $saturate),
  ),
  'orange': (
    'base': #ffa941,
    'dark': adjust-color(#ffa941, $lightness: -$darken, $saturation: $saturate),
    'light': adjust-color(#ffa941, $lightness: $lighten, $saturation: $saturate),
  ),
  'yellow': (
    'base': #ffe433,
    'dark': adjust-color(#ffe433, $lightness: -$darken, $saturation: $saturate),
    'light': adjust-color(#ffe433, $lightness: $lighten, $saturation: $saturate),
  ),
  'green': (
    'base': #4BC45F,
    'dark': adjust-color(#4BC45F, $lightness: -$darken, $saturation: $saturate),
    'light': adjust-color(#4BC45F, $lightness: $lighten, $saturation: $saturate),
  ),
  'blue': (
    'base': #3333f3,
    'dark': adjust-color(#3333f3, $lightness: -$darken, $saturation: $saturate),
    'light': adjust-color(#3333f3, $lightness: $lighten, $saturation: $saturate),
  ),
  'indigo': (
    'base': #178cd6,
    'dark': adjust-color(#178cd6, $lightness: -$darken, $saturation: $saturate),
    'light': adjust-color(#178cd6, $lightness: $lighten, $saturation: $saturate),
  ),
  'violet': (
    'base': #8b26f1,
    'dark': adjust-color(#8b26f1, $lightness: -$darken, $saturation: $saturate),
    'light': adjust-color(#8b26f1, $lightness: $lighten, $saturation: $saturate),
  ),

  'black': (
    'base': adjust-color(#000000, $lightness: 0%),
  ),
  'gray': (
    'darkest': adjust-color(#000000, $lightness: 20%),
    'dark': adjust-color(#000000, $lightness: 42%),
    'base': adjust-color(#000000, $lightness: 60%),
    'light': adjust-color(#000000, $lightness: 80%),
    'lightest': adjust-color(#000000, $lightness: 92%),
  ),
  'white': (
    'base': adjust-color(#000000, $lightness: 100%),
  )
) !default;

/** Shadows
--------------------------------------------------*/

$shadows: (
  'primary': (8px 14px 38px transparentize(color('black'), 0.96), 0px 3px 5px transparentize(color('black'), 0.96)),
  'secondary': (0px 1px 4px transparentize(color('black'), 0.80)),
  'input': 0 0 12px 6px transparentize(color('secondary'), 0.93),
) !default;


/** Spacings
--------------------------------------------------*/

$spacing-base: 24px !default;
$spacing-extra-small: $spacing-base / 3 !default;
$spacing-small: $spacing-base / 2 !default;
$spacing-medium: $spacing-base * 1.5 !default;
$spacing-large: $spacing-base * 2 !default;
$spacing-extra-large: $spacing-base * 3 !default;


/** Global properties
--------------------------------------------------*/

$border: 1px solid color('gray', 'lightest') !default;
$border-radius-main: 3px !default;
$border-radius-medium: 6px !default;
$border-radius-progress-bar: 9px !default;


/**
 * Components properties
 */

/** Button */
// Sizes
$button-size-large: 54px !default;
$button-size-regular: 40px !default;
$button-size-small: 28px !default;

// Border
$button-border-width: 1px !default;
$button-border-color: transparent !default;
$button-border-color-action: $button-border-color !default;
$button-secondary-border-color: color('primary') !default;
$button-secondary-border-color-action: transparent !default;
$button-secondary-inverted-border-color: color('white') !default;
$button-secondary-inverted-border-color-action: transparent !default;

// Font
$button-font-size: fontSize('epsilon') !default;
$button-line-height: $button-font-size !default;
$button-small-font-size: fontSize('zeta') !default;
$button-small-line-height: $button-small-font-size !default;
$button-large-font-size: $button-font-size !default;
$button-large-line-height: $button-font-size !default;
$button-font-weight: fontWeight('normal') !default;

// Color
$button-color: color('white') !default;
$button-color-action: $button-color !default;
$button-secondary-color: color('primary') !default;
$button-secondary-color-action: color('white') !default;
$button-secondary-inverted-color: color('white') !default;
$button-secondary-inverted-color-action: $button-secondary-inverted-color !default;
$button-inverted-color: color('primary') !default;
$button-inverted-color-action: color('white') !default;

// Background
$button-background-color: color('primary') !default;
$button-background-color-action: transparentize(color('primary'), 0.33) !default;
$button-secondary-background-color: transparent !default;
$button-secondary-inverted-background-color: $button-secondary-background-color !default;
$button-secondary-inverted-background-color-action: transparentize(color('white'), 0.66) !default;
$button-inverted-background-color: color('white') !default;
$button-inverted-background-color-action: transparentize(color('white'), 0.66) !default;

// Disabled
$button-disabled-opacity: 0.5 !default;

/** Label */

/** List */

/** Navigation */
$nav-basic-link-color: color('black') !default;
$nav-basic-link-color-opacity: 0.3 !default;
$nav-basic-link-color-opacity-hover: 1 !default;
$nav-basic-link-color-opacity-active: 1 !default;
$nav-basic-link-bgcolor-opacity: 0.03 !default;

$nav-link-font-size: fontSize('zeta') !default;
$nav-link-color-opacity: 0.5 !default;
$nav-link-color-opacity-hover: 1 !default;
$nav-link-color-opacity-active: 1 !default;
$nav-link-bgcolor-opacity: 0.05 !default;
$nav-link-height: 40px !default;

/** Table */

/** Avatar */
$avatar-basic-color: color('primary') !default;
$avatar-width-height: $spacing-base * 4 !default;
$avatar-small-width-height: $spacing-base * 2 !default;
$avatar-large-width-height: $spacing-base * 8 !default;

/** Breadcrumbs */
$breadcrumbs-basic-color: color('black') !default;
$breadcrumbs-font-size: fontSize('zeta') !default;
$breadcrumbs-height: 36px !default;
$breadcrumbs-spacing: $spacing-small !default;
$breadcrumbs-margin: 3px !default;
$breadcrumbs-bg-transperancy: 0.05 !default;
$breadcrumbs-bg-transperancy-active: 0.12 !default;
$breadcrumbs-color-transperancy: 0.5 !default;

/** Callout */
$callout-font-size: fontSize('zeta') !default;
$callout-basic-color: color('black') !default;
$callout-basic-background-color: color('gray', 'lightest') !default;

/** Card */
// Base
$card-border-radius: $border-radius-main !default;
$card-background-color: color('white') !default;
$card-shadow: shadow('primary') !default;

// Header
$card-header-border: $border !default;
$card-header-border-radius: $border-radius-main $border-radius-main 0 0 !default;
$card-header-padding: $spacing-base / 2 !default;
$card-header-height: $spacing-base + $button-size-regular !default;
$card-header-nav-margin: $card-header-padding !default; // Default value will not work if you change $card-header-padding to multiple numbers

// Header Heading
$card-header-heading-font-weight: fontWeight('normal') !default;
$card-header-heading-color: color('black') !default;
$card-header-heading-padding-left: $spacing-small !default;

// Body
$card-body-padding: $spacing-base !default;

// Section
$card-section-border: $border !default;
$card-section-padding: $spacing-small !default;
$card-section-last-border: none !default;

// Footer
$card-footer-border-radius: 0 0 $border-radius-main $border-radius-main !default;
$card-footer-border: $border !default;
$card-footer-min-height: $spacing-large !default;
$card-footer-padding: 0 $spacing-base !default;
$card-footer-empty-padding: $spacing-base !default;
$card-footer-click-color: color('gray') !default;
$card-footer-click-hover-color: $card-footer-click-color !default;
$card-footer-click-hover-background-color: color('gray', 'lightest') !default;

/** Empty State */
$empty-state-margin-left: $spacing-base * 2 !default;
$empty-state-margin-right: $spacing-base * 2 !default;

// Description
$empty-state-description-font-size: fontSize('delta') !default;
$empty-state-description-color: color('gray') !default;
$empty-state-description-max-width: $spacing-base * 16 !default;

/** Image */
$image-border-radius: $border-radius-main !default;
$image-margin-bottom: $spacing-base / 2 !default;
$image-transition: $transition !default;
$image-sizes: (
  'xsmall': 60px,
  'small': 120px,
  'medium': 240px,
  'large': 480px
) !default;
$image-wrapper-basic-size: map-get($image-sizes, 'small') !default;

/** Message */
$message-font-size: fontSize('zeta') !default;
$message-padding: $spacing-small !default;
$message-border-radius: $border-radius-main !default;
$message-color: color('gray') !default;
$message-background-color: rgba(color('gray'), 0.05) !default;
$message-font-style: italic !default;
$message-margin-bottom: $spacing-small !default;
$message-shadow: shadow('primary') !default;

// Link
$message-link-font-weight: fontWeight('bold') !default;
$message-link-text-decoration: underline !default;
$message-link-text-decoration-hover: none !default;
$message-link-color: color('gray', 'dark') !default;

// Body
$message-body-headings-font-weight: fontWeight('bold') !default;

/** Input */
$input-height: 40px !default;
$input-line-height: 18px !default;
$input-height-large: 64px !default;
$input-large-line-height: 22px !default;

/** Checkbox */
$checkbox-group-height: $input-height-large !default;
$checkbox-group-padding: $spacing-base / 2 !default;
$checkbox-group-border: $border !default;
$checkbox-group-border-radius: $border-radius-main !default;

$checkbox-bottom-margin: $spacing-base / 6 !default;
$checkbox-border-radius: $border-radius-main !default;
$checkbox-color: color('secondary') !default;
$checkbox-font-size: fontSize('epsilon') !default;
$checkbox-width-height: $spacing-base * 0.75 !default;
$checkbox-label-font-size: fontSize('omega') !default;
$checkbox-label-text-color: color('black') !default;
$checkbox-disabled-color: color('gray', 'dark') !default;

/** Dropdown */
// Label
$dropdown-label-color: color('gray', 'light') !default;
$dropdown-label-min-width: $spacing-base * 10 !default;
$dropdown-label-border: $border !default;
$dropdown-label-line-height: $line-height !default;
$dropdown-large-label-line-height: $input-large-line-height !default;
$dropdown-label-border-radius: $border-radius-main !default;
$dropdown-label-height: $input-height !default;
$dropdown-large-label-height: $input-height-large !default;
$dropdown-label-font-size: fontSize('epsilon') !default;
$dropdown-large-label-font-size: fontSize('delta') !default;
$dropdown-large-action-label-font-size: fontSize('omega') !default;
$dropdown-label-padding: (($dropdown-label-height / 2) - ($input-line-height / 2) - 2px) $spacing-small !default; // the 2px account for the border
$dropdown-large-label-padding: (($dropdown-large-label-height / 2) - ($dropdown-large-label-line-height / 2) - 2px) $spacing-small !default; // the 2px account for the border
$dropdown-large-action-label-padding: ($spacing-base / 2) ($spacing-base / 2) 0 !default; // the 2px account for the border
$dropdown-action-label-color: color('black') !default;
$dropdown-action-label-font-size: fontSize('omega') - 2px !default;
$dropdown-action-label-padding: ($spacing-base / 4) ($spacing-base / 2) 0 !default; // the 2px account for the border
$dropdown-open-label-border-color: color('secondary', 'light') !default;
$dropdown-open-label-border-bottom-color: color('gray', 'lightest') !default;
$dropdown-disabled-label-border-color: color('gray', 'lightest') !default;

// Text
$dropdown-text-color: color('gray', 'light') !default;
$dropdown-text-border-radius: $dropdown-label-border-radius !default;
$dropdown-text-height: $dropdown-label-height !default;
$dropdown-text-font-size: fontSize('zeta') !default;
$dropdown-large-text-font-size: fontSize('delta') !default;
$dropdown-text-padding: ($spacing-base / 1.2 - 2) ($spacing-base / 2) ($spacing-base / 4) !default;
$dropdown-large-text-padding: ($spacing-base + 4px) ($spacing-base / 2) ($spacing-base / 2) !default;
$dropdown-text-no-label-padding-top: $spacing-base !default;
$dropdown-action-text-color: color('secondary') !default;
$dropdown-action-text-opacity: 1 !default;
$dropdown-open-text-border-color: color('secondary', 'light') !default;
$dropdown-open-text-border-bottom-color: color('gray', 'lightest') !default;
$dropdown-disabled-text-color: color('gray') !default;

// Icon
$dropdown-icon-height: $spacing-base * 1.5 !default;
$dropdown-large-icon-height: $spacing-base * 2 !default;
$dropdown-icon-width: $spacing-base * 0.75 !default;
$dropdown-large-icon-width: $spacing-base !default;
$dropdown-icon-right: $spacing-base / 8 !default;
$dropdown-large-icon-right: $spacing-small !default;
$dropdown-icon-height: $spacing-base * 0.75 !default;
$dropdown-icon-width: $spacing-base * 0.75 !default;
$dropdown-icon-fill: color('secondary') !default;
$dropdown-open-icon-fill: $dropdown-icon-fill !default;
$dropdown-disabled-icon-fill: color('gray') !default;

// Content
$dropdown-content-border-radius: $border-radius-main !default;
$dropdown-content-border: 1px solid color('secondary', 'light') !default;
$dropdown-content-padding-top: $dropdown-label-height !default;
$dropdown-large-content-padding-top: $dropdown-large-label-height !default;
$dropdown-content-shadow: shadow('input') !default;
$dropdown-content-background-color: color('white') !default;
$dropdown-open-content-opacity: 1 !default;

// Menu
$dropdown-menu-margin: ($spacing-base / 4) 0 !default;
$dropdown-large-menu-margin: ($spacing-base / 2) 0 !default;
$dropdown-menu-max-height: 200px !default;

// Item
$dropdown-item-color: color('gray', 'light') !default;
$dropdown-item-font-size: fontSize('zeta') !default;
$dropdown-large-item-font-size: fontSize('delta') !default;
$dropdown-item-padding: ($spacing-base / 4) ($spacing-base / 2) !default;
$dropdown-large-item-padding: ($spacing-base / 4) $spacing-base !default;
$dropdown-item-hover-color: color('secondary') !default;
$dropdown-item-hover-background-color: color('gray', 'lightest') !default;
$dropdown-item-selected-color: color('gray') !default;

/** Label */
$label-font-size: fontSize('omega') !default;
$label-border-radius: 30px !default;
$label-height: $spacing-base + 4px !default;
$label-padding: 0 $spacing-base / 2 !default;
$label-margin-left: $spacing-base / 4 !default;

// Icon
$label-icon-font-size: fontSize('delta') !default;
$label-icon-margin-right: -$spacing-base / 4 !default;

// Basic
$label-basic-color: color('gray') !default;
$label-basic-background-color: rgba(color('gray'), 0.1) !default;

// Small
$label-small-padding: 0 $spacing-small - 2px !default;
$label-small-height: $spacing-base - 2px !default;

// Dot
$label-dot-width-height: $spacing-small !default;

// Pill
$label-pill-width: $spacing-base * 3 !default;
$label-pill-height: $spacing-base / 2 !default;

// Dissmiss
$label-dismiss-icon-hover-color: color('gray', 'dark') !default;

/** Radio */
$radio-group-height: $input-height-large !default;
$radio-group-padding: $spacing-base / 2 !default;
$radio-group-border: $border !default;
$radio-group-border-radius: $border-radius-main !default;

$radio-bottom-margin: $spacing-base / 6 !default;
$radio-border-radius: 100% !default;
$radio-color: color('secondary') !default;
$radio-font-size: fontSize('epsilon') !default;
$radio-width-height: $spacing-base * 0.75 !default;
$radio-label-font-size: fontSize('omega') !default;
$radio-label-text-color: color('black') !default;
$radio-disabled-color: color('gray', 'dark') !default;

/** Toggle */
$toggle-width: $spacing-base * 2.25 !default;
$toggle-height: $spacing-base * 1.25 !default;
