/**
 * Variables
 */

/** Global
--------------------------------------------------*/
@import "./variables/grid/grid";
@import "./variables/grid/breakpoints";
@import "./variables/grid/media-queries";
@import "./variables/spacings";

$o-transition: all 150ms ease-out !default;

/** Sidebar */
$o-sidebar-width: 243px !default;


/** Typography
--------------------------------------------------*/

$o-include-fonts: true !default;
$o-font-url: 'https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i|Roboto+Mono&display=swap' !default;
$o-font-primary: "Rubik", arial, sans-serif !default;
$o-font-monospace: 'Roboto Mono', monospace !default;
$o-font-icon-url: '../../fonts' !default;

$o-line-height: 1.5 !default;

$o-font-sizes: (
  'giga': 76px,
  'mega': 54px,
  'alpha': 36px,
  'beta': 28px,
  'gamma': 21px,
  'delta': 18px,
  'epsilon': 16px,
  'zeta': 14px,
  'omega': 12px
) !default;

$o-font-weights: (
  'thin': 100,
  'extralight': 200,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'bold': 600,
  'extrabold': 700,
  'black': 800
) !default;

$o-text-alignments: 'left', 'center', 'right', 'justify' !default;

/** Include fonts */
@if ($o-include-fonts) {
  @import url($o-font-url);
}


/** Colors
--------------------------------------------------*/
$o-darken: 20%;
$o-lighten: 20%;
$o-saturate: 20%;

$o-colors: (
  'primary': (
    'base': #ffa941,
    'dark': adjust-color(#ffa941, $lightness: -$o-darken, $saturation: $o-saturate),
    'light': adjust-color(#ffa941, $lightness: $o-lighten, $saturation: $o-saturate),
  ),
  'secondary': (
    'base': #4648d2,
    'dark': adjust-color(#4648d2, $lightness: -$o-darken, $saturation: $o-saturate),
    'light': adjust-color(#4648d2, $lightness: $o-lighten, $saturation: $o-saturate),
  ),

  'red': (
    'base': #FA3D49,
    'dark': adjust-color(#FA3D49, $lightness: -$o-darken, $saturation: $o-saturate),
    'light': adjust-color(#FA3D49, $lightness: $o-lighten, $saturation: $o-saturate),
  ),
  'orange': (
    'base': #ffa941,
    'dark': adjust-color(#ffa941, $lightness: -$o-darken, $saturation: $o-saturate),
    'light': adjust-color(#ffa941, $lightness: $o-lighten, $saturation: $o-saturate),
  ),
  'yellow': (
    'base': #ffe433,
    'dark': adjust-color(#ffe433, $lightness: -$o-darken, $saturation: $o-saturate),
    'light': adjust-color(#ffe433, $lightness: $o-lighten, $saturation: $o-saturate),
  ),
  'green': (
    'base': #4BC45F,
    'dark': adjust-color(#4BC45F, $lightness: -$o-darken, $saturation: $o-saturate),
    'light': adjust-color(#4BC45F, $lightness: $o-lighten, $saturation: $o-saturate),
  ),
  'blue': (
    'base': #3333f3,
    'dark': adjust-color(#3333f3, $lightness: -$o-darken, $saturation: $o-saturate),
    'light': adjust-color(#3333f3, $lightness: $o-lighten, $saturation: $o-saturate),
  ),
  'indigo': (
    'base': #178cd6,
    'dark': adjust-color(#178cd6, $lightness: -$o-darken, $saturation: $o-saturate),
    'light': adjust-color(#178cd6, $lightness: $o-lighten, $saturation: $o-saturate),
  ),
  'violet': (
    'base': #8b26f1,
    'dark': adjust-color(#8b26f1, $lightness: -$o-darken, $saturation: $o-saturate),
    'light': adjust-color(#8b26f1, $lightness: $o-lighten, $saturation: $o-saturate),
  ),
  'black': (
    'base': adjust-color(#000000, $lightness: 0%),
  ),
  'gray': (
    'darkest': adjust-color(#000000, $lightness: 20%),
    'dark': adjust-color(#000000, $lightness: 42%),
    'base': adjust-color(#000000, $lightness: 60%),
    'light': adjust-color(#000000, $lightness: 80%),
    'lightest': adjust-color(#000000, $lightness: 92%),
  ),
  'white': (
    'base': adjust-color(#000000, $lightness: 100%),
  )
) !default;

/** Shadows
--------------------------------------------------*/

$o-shadows: (
  'primary': (8px 14px 38px transparentize(color('black'), 0.96), 0px 3px 5px transparentize(color('black'), 0.96)),
  'secondary': (0px 1px 4px transparentize(color('black'), 0.80)),
  'input': 0 0 12px 6px transparentize(color('secondary'), 0.93),
) !default;


/** Spacings - for others check variables/_spacings
--------------------------------------------------*/

$o-spacing-base: 24px !default;
$o-spacing-extra-small: $o-spacing-base / 3 !default;
$o-spacing-small: $o-spacing-base / 2 !default;
$o-spacing-medium: $o-spacing-base * 1.5 !default;
$o-spacing-large: $o-spacing-base * 2 !default;
$o-spacing-extra-large: $o-spacing-base * 3 !default;


/** Global properties
--------------------------------------------------*/

$o-border: 1px solid color('gray', 'lightest') !default;
$o-border-radius-main: 3px !default;
$o-border-radius-medium: 6px !default;
$o-border-radius-full: 9999px !default;
$o-border-radius-progress-bar: 9px !default;
$o-ul-ol-padding-left: $o-spacing-base !default;

/**
 * Border radius
 */

$o-border-radius-base: 3px !default;

$o-border-radiuses: (
  0: 0,                         // 0px
  'base': $o-border-radius-base,  // 3px
  1: $o-border-radius-base * 2,   // 6px
  'full': 50%                   // 50%
) !default;


/**
 * Display
 */

$o-displays: (
  'block': block,
  'inline-block': inline-block,
  'inline': inline,
  'flex': flex,
  'inline-flex': inline-flex,
  'table': table,
  'table-row': table-row,
  'table-cell': table-cell,
  'grid': grid,
  'none': none
) !default;


/** Components properties
--------------------------------------------------*/

/**
 * Button
 */
$o-button-padding: 0 $o-spacing-small !default;
$o-button-background-color: color('primary') !default;
$o-button-border-width: 1px !default;
$o-button-border-color: transparent !default;
$o-button-border-radius: $o-border-radius-main !default;
$o-button-font-size: fontSize('epsilon') !default;
$o-button-line-height: $o-button-font-size !default;
$o-button-font-weight: fontWeight('normal') !default;
$o-button-color: color('white') !default;
$o-button-transition: $o-transition !default;
$o-button-height: 40px !default;
$o-button-next-button-margin-left: $o-spacing-base / 2 !default;

// Action
$o-button-action-color: $o-button-color !default;
$o-button-action-border-color: $o-button-border-color !default;
$o-button-action-background-color: transparentize(color('primary'), 0.33) !default;

// Icon
$o-button-icon-margin-left: $o-spacing-small / 2 !default;

// Inverted
$o-button-inverted-color: color('primary') !default;
$o-button-inverted-background-color: color('white') !default;

$o-button-inverted-action-color: color('white') !default;
$o-button-inverted-action-background-color: transparentize(color('white'), 0.66) !default;

// Disabled
$o-button-disabled-opacity: 0.5 !default;

/** Icon only */
$o-button-icon-only-padding: 0 1px 0 0 !default;

/** Basic */
$o-button-basic-color: color('gray') !default;
$o-button-basic-background-color: color('gray', 'lightest') !default;
$o-button-basic-action-color: color('white') !default;
$o-button-basic-action-background-color: transparentize(color('primary'), 0.33) !default;

// Secondary
$o-button-basic-secondary-background-color: transparent !default;
$o-button-basic-secondary-border-color: color('gray', 'lightest') !default;
$o-button-basic-secondary-action-background-color: transparentize(color('primary'), 0.33) !default;
$o-button-basic-secondary-action-border-color: transparent !default;
$o-button-basic-secondary-action-color: color('white') !default;

/** Secondary */
$o-button-secondary-border-color: color('primary') !default;
$o-button-secondary-border-color-action: transparent !default;
$o-button-secondary-color: color('primary') !default;
$o-button-secondary-color-action: color('white') !default;
$o-button-secondary-background-color: transparent !default;

// Inverted
$o-button-secondary-inverted-color: color('white') !default;
$o-button-secondary-inverted-background-color: $o-button-secondary-background-color !default;
$o-button-secondary-inverted-border-color: color('white') !default;

// Inverted Action
$o-button-secondary-inverted-action-color: $o-button-secondary-inverted-color !default;
$o-button-secondary-inverted-action-background-color: transparentize(color('white'), 0.66) !default;
$o-button-secondary-inverted-action-border-color: transparent !default;

/** Small */
$o-button-small-height: 28px !default;
$o-button-small-padding: ($o-spacing-small / 4) ($o-spacing-small / 2) !default;
$o-button-small-font-size: fontSize('zeta') !default;
$o-button-small-line-height: $o-button-small-font-size !default;

// Icon only
$o-button-small-icon-only-icon-font-size: 20px !default;
$o-button-small-icon-only-icon-height: 20px !default;

/** Large */
$o-button-large-height: 54px !default;
$o-button-large-padding: $o-spacing-small ($o-spacing-base * 0.75) !default;
$o-button-large-font-size: $o-button-font-size !default;
$o-button-large-line-height: $o-button-font-size !default;

// Icon only
$o-button-large-icon-only-icon-font-size: $o-spacing-base !default;
$o-button-large-icon-only-icon-height: $o-spacing-base !default;

/** Icon only */



/**
 * Navigation
 */
$o-nav-padding-bottom: $o-spacing-base / 2 !default;

/** Item */
$o-nav-item-first-margin-left: -$o-spacing-base / 2 !default;

/** Link */
$o-nav-link-padding: $o-spacing-base / 2 !default;
$o-nav-link-height: 40px !default;
$o-nav-link-font-size: fontSize('zeta') !default;

// Color
$o-nav-link-color: color('black') !default;
$o-nav-link-color-opacity: 0.3 !default;
$o-nav-link-hover-color-opacity: 1 !default;
$o-nav-link-active-color-opacity: 1 !default;

// Background
$o-nav-link-background-color-opacity: 0.03 !default;

// Active
$o-nav-link-active-after-width: calc(100% - #{$o-spacing-base}) !default;
$o-nav-link-active-after-left: $o-spacing-small !default;
$o-nav-link-active-after-bottom:  -$o-spacing-base / 2 !default;

// Disabled
$o-nav-link-disabled-opacity: 0.5 !default;

// Before
$o-nav-link-before-width: calc(100% - #{$o-spacing-base} / 4) !default;
$o-nav-link-before-height: calc(100% - #{$o-spacing-base} / 4) !default;
$o-nav-link-before-left: $o-spacing-base / 8 !default;
$o-nav-link-before-top: $o-spacing-base / 8 !default;
$o-nav-link-before-border-radius: $o-border-radius-main !default;
$o-nav-link-before-opacity: 0!default;

/** Icon */
$o-nav-icon-margin-right: $o-spacing-base / 4 !default;

/** Color */
// Change link properties based on navigation color
$o-nav-color-link-color-opacity: 0.5 !default;
$o-nav-color-link-color-opacity-hover: 1 !default;
$o-nav-color-link-color-opacity-active: 1 !default;

// Background
$o-nav-color-link-background-color-opacity: 0.05 !default;

/** Right */
$o-nav-right-item-last-margin-right: -$o-spacing-small !default;

/**
 * Avatar
 */
$o-avatar-color: color('primary') !default;
$o-avatar-width-height: $o-spacing-base * 4 !default;

/** Small */
$o-avatar-small-width-height: $o-spacing-base * 2 !default;

/** Large */
$o-avatar-large-width-height: $o-spacing-base * 8 !default;

/**
 * Breadcrumbs
 */
$o-breadcrumbs-color: color('black') !default;
$o-breadcrumbs-font-size: fontSize('zeta') !default;
$o-breadcrumbs-height: 36px !default;
$o-breadcrumbs-spacing: $o-spacing-small !default;

/** Background */
$o-breadcrumbs-background-transparency: 0.05 !default;

// Active
$o-breadcrumbs-active-background-transparency: 0.12 !default;

/** Color */
$o-breadcrumbs-color-transparency: 0.5 !default;

/** Item */
$o-breadcrumbs-item-margin-right: 3px !default;
$o-breadcrumbs-item-last-padding-right: ($o-breadcrumbs-spacing) + ($o-breadcrumbs-spacing / 2) !default;

/** Link */
$o-breadcrumbs-link-padding: 0 $o-breadcrumbs-spacing !default;
$o-breadcrumbs-link-margin-left: $o-breadcrumbs-spacing !default;

// Before
$o-breadcrumbs-link-before-left: -$o-breadcrumbs-spacing !default;
$o-breadcrumbs-link-before-border-top: $o-breadcrumbs-height / 2 solid rgba($o-breadcrumbs-color, $o-breadcrumbs-background-transparency) !default;
$o-breadcrumbs-link-before-border-bottom: $o-breadcrumbs-height / 2 solid rgba($o-breadcrumbs-color, $o-breadcrumbs-background-transparency) !default;
$o-breadcrumbs-link-before-border-right: $o-breadcrumbs-spacing solid transparent !default;

// After
$o-breadcrumbs-link-after-right: -$o-breadcrumbs-spacing !default;
$o-breadcrumbs-link-after-border-top: $o-breadcrumbs-height / 2 solid transparent !default;
$o-breadcrumbs-link-after-border-bottom: $o-breadcrumbs-height / 2 solid transparent !default;
$o-breadcrumbs-link-after-border-left: $o-breadcrumbs-spacing solid rgba($o-breadcrumbs-color, $o-breadcrumbs-background-transparency) !default;

// Disabled
$o-breadcrumbs-link-disabled-transparency: 0.5 !default;

/** Icon */
$o-breadcrumbs-icon-margin-left: -$o-breadcrumbs-spacing / 4 !default;
$o-breadcrumbs-icon-margin-right: $o-spacing-base / 4 !default;

/** Button */
$o-breadcrumbs-button-border-radius: 0 $o-border-radius-main $o-border-radius-main 0 !default
$o-breadcrumbs-button-padding: 0 ($o-breadcrumbs-spacing * 1.5) 0 $o-breadcrumbs-spacing !default;
$o-breadcrumbs-button-margin-left: $o-breadcrumbs-spacing !default;
$o-breadcrumbs-button-margin-right: $o-spacing-base !default;

// Before
$o-breadcrumbs-button-before-left: -$o-breadcrumbs-spacing !default;
$o-breadcrumbs-button-before-border-top: $o-breadcrumbs-height / 2 solid transparent !default;
$o-breadcrumbs-button-before-border-right: $o-breadcrumbs-spacing solid rgba($o-breadcrumbs-color, $o-breadcrumbs-background-transparency) !default;
$o-breadcrumbs-button-before-border-bottom: $o-breadcrumbs-height / 2 solid transparent !default;

// Disabled
$o-breadcrumbs-button-disabled-opacity: $o-breadcrumbs-link-disabled-transparency !default;

/**
 * Callout
 */
$o-callout-font-size: fontSize('zeta') !default;
$o-callout-text-color: color('black') !default;
$o-callout-link-color: color('black') !default;
$o-callout-background-color: color('gray', 'lightest') !default;
$o-callout-padding: $o-spacing-small !default;
$o-callout-border-radius: $o-border-radius-main !default;
$o-callout-margin-bottom: $o-spacing-base / 2 !default;
$o-callout-transition: 0.2s ease-in-out !default;

/** Shadow */
$o-callout-shadow-box-shadow: shadow('primary') !default;

/** Image */
$o-callout-image-padding: ($o-spacing-base / 2) 0 !default;

/** Action */
$o-callout-action-hover-background-color: lighten(color('gray', 'light'), 2) !default;

/** Color */
// Action
$o-callout-color-action-hover-background-color-lighten: 5 !default;
$o-callout-color-action-hover-background-color-lightness: 5% !default;

/**
 * Card
 */
$o-card-border-radius: $o-border-radius-main !default;
$o-card-background-color: color('white') !default;
$o-card-shadow: shadow('primary') !default;

/** Header */
$o-card-header-border: $o-border !default;
$o-card-header-border-radius: $o-border-radius-main $o-border-radius-main 0 0 !default;
$o-card-header-padding: $o-spacing-base / 2 !default;
$o-card-header-height: $o-spacing-base + $o-button-height !default;

// Header Navigation
$o-card-header-nav-margin: $o-card-header-padding !default; // Default value will not work if you change $o-card-header-padding to multiple numbers

// Header Heading
$o-card-header-heading-font-weight: fontWeight('normal') !default;
$o-card-header-heading-color: color('black') !default;
$o-card-header-heading-padding-left: $o-spacing-small !default;

// Header form
$o-card-header-form-min-width: $o-spacing-base * 10 !default;

/** Body */
$o-card-body-padding: $o-spacing-base !default;

/** Section */
$o-card-section-border: $o-border !default;
$o-card-section-padding: $o-spacing-small !default;
$o-card-section-last-border: none !default;

// Header
$o-card-section-header-horizontal-margin: $o-spacing-base !default;
$o-card-section-header-horizontal-padding: 0 !default;

// Body
$o-card-section-body-horizontal-margin: $o-spacing-base !default;
$o-card-section-body-horizontal-padding: 0 !default;

// Footer
$o-card-section-footer-horizontal-margin: $o-spacing-base !default;
$o-card-section-footer-horizontal-padding: 0 !default;


/** Footer */
$o-card-footer-border-radius: 0 0 $o-border-radius-main $o-border-radius-main !default;
$o-card-footer-border: $o-border !default;
$o-card-footer-min-height: $o-spacing-large !default;
$o-card-footer-padding: 0 $o-spacing-base !default;
$o-card-footer-transition: 0.15s ease-in-out !default;

// Empty
$o-card-footer-empty-height: $o-spacing-base !default;
$o-card-footer-empty-min-height: 0 !default;
$o-card-footer-empty-padding: 0 !default;
$o-card-footer-empty-border-top: 0 !default;


// Click
$o-card-footer-click-color: color('gray') !default;
$o-card-footer-click-hover-color: $o-card-footer-click-color !default;
$o-card-footer-click-hover-background-color: color('gray', 'lightest') !default;

/**
 * Empty State
 */
$o-empty-state-margin-left: $o-spacing-base * 2 !default;
$o-empty-state-margin-right: $o-spacing-base * 2 !default;

/** Description */
$o-empty-state-description-font-size: fontSize('delta') !default;
$o-empty-state-description-color: color('gray') !default;
$o-empty-state-description-max-width: $o-spacing-base * 16 !default;

/** Buttons */
$o-empty-state-buttons-margin-top: $o-spacing-small !default;

/**
 * Image
 */
$o-image-border-radius: $o-border-radius-main !default;
$o-image-margin-bottom: $o-spacing-base / 2 !default;
$o-image-transition: $o-transition !default;
$o-image-sizes: (
  'xsmall': 60px,
  'small': 120px,
  'medium': 240px,
  'large': 480px
) !default;
$o-image-wrapper-basic-size: map-get($o-image-sizes, 'small') !default;

/** Shadow */
$o-image-shadow-shadow: shadow('primary') !default;

/** Action */
$o-image-action-hover-opacity: 0.8 !default;

/**
 * Message
 */
$o-message-font-size: fontSize('zeta') !default;
$o-message-padding: $o-spacing-small !default;
$o-message-border-radius: $o-border-radius-main !default;
$o-message-color: color('gray') !default;
$o-message-background-color: rgba(color('gray'), 0.05) !default;
$o-message-font-style: italic !default;
$o-message-margin-bottom: $o-spacing-small !default;
$o-message-shadow: shadow('primary') !default;

/** Link */
$o-message-link-font-weight: fontWeight('bold') !default;
$o-message-link-text-decoration: underline !default;
$o-message-link-color: color('gray', 'dark') !default;
$o-message-link-hover-text-decoration: none !default;

/** Body */
$o-message-body-headings-font-weight: fontWeight('bold') !default;

// Avatar
$o-message-avatar-margin-right: $o-spacing-small !default;

/**
 * Input
 */
$o-input-height: 40px !default;
$o-input-width: 100% !default;
$o-input-font-size: fontSize('delta') !default;
$o-input-line-height: $o-input-font-size + 4px !default;
$o-input-padding: ($o-spacing-base / 3) ($o-spacing-base / 2) !default;
$o-input-color: color('secondary') !default;
$o-input-border-radius: $o-border-radius-main !default;
$o-input-border: $o-border !default;

$o-input-webkit-autofill-border-color: color('gray', 'lightest') !important !default;
$o-input-webkit-autofill-text-fill-color: color('secondary') !important !default;

/** Large */
$o-input-large-height: 64px !default;
$o-input-large-line-height: 22px !default;
$o-input-large-padding: (($o-input-large-height / 2) - ($o-input-large-line-height / 2) - 2px) $o-spacing-small !default; // the 2px account for the border
$o-input-large-min-height: $o-input-large-height !default;

// Label
$o-input-large-label-margin: ($o-spacing-base - 1px) $o-spacing-base / 2 !default; // -1px because of borders

// Action
$o-input-large-action-padding: ($o-spacing-base + 4px) ($o-spacing-base / 2) ($o-spacing-base / 2) !default;
// Action Label
$o-input-large-action-label-line-height: 1 !default;
$o-input-large-action-label-height: auto !default;
$o-input-large-action-label-font-size: fontSize('omega') !default;
$o-input-large-action-label-color: color('black') !default;
$o-input-large-action-label-margin: $o-spacing-small 0 0 $o-spacing-small !default;
$o-input-large-action-label-before-width: calc(100% + #{$o-spacing-small}) !default;
$o-input-large-action-label-before-height: calc( 100% + #{$o-spacing-small} / 2) !default;
$o-input-large-action-label-before-left: -$o-spacing-small / 2 !default;
$o-input-large-action-label-before-top: -$o-spacing-small / 4 !default;
$o-input-large-action-label-before-background-color: color('white') !default;
$o-input-large-action-label-before-transition: none !default;
$o-input-large-action-label-before-border-radius: $o-spacing-small !default;

/** Focus */
$o-input-focus-color: color('secondary') !default;
$o-input-focus-shadow: shadow('input') !default;
$o-input-focus-border-color: transparentize(color('secondary'), 0.66) !default;

/** Disabled */
$o-input-disabled-background-color: transparent !default;
$o-input-disabled-opacity: 1 !default;
$o-input-disabled-color: color('gray') !default;

// Focus
$o-input-disabled-focus-shadow: none !default;
$o-input-disabled-focus-border: $o-border !default;

/** Readonly */
$o-input-readonly-background-color: transparent !default;
$o-input-readonly-opacity: 1 !default;
$o-input-readonly-color: color('gray') !default;

// Focus
$o-input-readonly-focus-shadow: none !default;
$o-input-readonly-focus-border: $o-border !default;

/** Label */
$o-input-label-top: 0 !default;
$o-input-label-left: 0 !default;
$o-input-label-margin: ($o-spacing-base / 2 - 1px) $o-spacing-base / 2 !default; // -1px because of borders
$o-input-label-font-size: fontSize('delta') !default;
$o-input-label-font-weight: fontWeight('normal') !default;
$o-input-label-line-height: fontSize('delta') !default;
$o-input-label-color: color('gray', 'light') !default;

/** Action / Extras */ // This action does not stand for focus and hover, but for action/extras elements inside of input
$o-input-action-padding: 0 $o-spacing-base / 4 !default;
$o-input-action-border: $o-border !default;
$o-input-action-border-top-left-radius: $o-border-radius-main !default;
$o-input-action-border-bottom-left-radius: $o-border-radius-main !default;
$o-input-action-background-color: adjust-color(#000000, $lightness: 97%) !default;
$o-input-action-readonly-color: color('secondary') !default;

/** Message */
$o-input-message-margin-top: $o-spacing-small !default;
$o-input-message-font-size: fontSize('zeta') !default;
$o-input-message-color: color('red') !default;

/** Description */
$o-input-description-color: color('gray', 'light') !default;
$o-input-description-font-size: fontSize('zeta') !default;
$o-input-description-margin-top: $o-spacing-small !default;
$o-input-description-margin-bottom: 0 !default;

/** Error */
$o-input-error-border-color: rgba(color('red'), 0.75) !default;

/**
 * Checkbox
 */
$o-checkbox-bottom-margin: $o-spacing-base / 6 !default;
$o-checkbox-border-radius: $o-border-radius-main !default;
$o-checkbox-color: color('secondary') !default;
$o-checkbox-font-size: fontSize('epsilon') !default;
$o-checkbox-next-checkbox-margin-left: $o-spacing-base !default;

/** Group */
$o-checkbox-group-height: $o-input-large-height !default;
$o-checkbox-group-padding: $o-spacing-base / 2 !default;
$o-checkbox-group-border: $o-border !default;
$o-checkbox-group-border-radius: $o-border-radius-main !default;

/** Label */
$o-checkbox-label-width-height: $o-spacing-base * 0.75 !default;
$o-checkbox-label-font-size: fontSize('omega') !default;
$o-checkbox-label-text-color: color('black') !default;
$o-checkbox-label-padding-left: $o-checkbox-label-width-height + $o-spacing-base / 3 !default;
$o-checkbox-label-opacity: 0.5 !default;

// Before
$o-checkbox-label-before-text-color: color('white') !default;
$o-checkbox-label-before-font-size: $o-spacing-base !default;
$o-checkbox-label-before-transition: $o-transition !default;

/** Disabled */
$o-checkbox-disabled-color: color('gray', 'dark') !default;

/** Checked */
$o-checkbox-label-checked-opacity: 1 !default;

/**
 * Dropdown
 */
/** Label */
$o-dropdown-label-color: color('gray', 'light') !default;
$o-dropdown-label-min-width: $o-spacing-base * 10 !default;
$o-dropdown-label-border: $o-border !default;
$o-dropdown-label-line-height: $o-line-height !default;
$o-dropdown-label-border-radius: $o-border-radius-main !default;
$o-dropdown-label-height: $o-input-height !default;
$o-dropdown-label-font-size: fontSize('epsilon') !default;
$o-dropdown-label-padding: (($o-dropdown-label-height / 2) - ($o-input-line-height / 2) - 2px) $o-spacing-small !default; // the 2px account for the border

/** Large */
// Label
$o-dropdown-large-label-line-height: $o-input-large-line-height !default;
$o-dropdown-large-label-height: $o-input-large-height !default;
$o-dropdown-large-label-font-size: fontSize('delta') !default;
$o-dropdown-large-label-padding: (($o-dropdown-large-label-height / 2) - ($o-dropdown-large-label-line-height / 2) - 2px) $o-spacing-small !default; // the 2px account for the border

// Icon
$o-dropdown-large-icon-right: $o-spacing-small !default;

// Text
$o-dropdown-large-text-font-size: fontSize('delta') !default;
$o-dropdown-large-text-padding: ($o-spacing-base + 4px) ($o-spacing-base / 2) ($o-spacing-base / 2) !default;

// Icon
$o-dropdown-large-icon-height: $o-spacing-base * 2 !default;
$o-dropdown-large-icon-width: $o-spacing-base !default;

// Content
$o-dropdown-large-content-padding-top: $o-dropdown-large-label-height !default;

// Menu
$o-dropdown-large-menu-margin: ($o-spacing-base / 2) 0 !default;

// Item
$o-dropdown-large-item-font-size: fontSize('delta') !default;
$o-dropdown-large-item-padding: ($o-spacing-base / 4) $o-spacing-base !default;

// Action
$o-dropdown-large-action-label-font-size: fontSize('omega') !default;
$o-dropdown-large-action-label-padding: ($o-spacing-base / 2) ($o-spacing-base / 2) 0 !default; // the 2px account for the border

/** Action */
$o-dropdown-action-label-color: color('black') !default;
$o-dropdown-action-label-font-size: fontSize('omega') - 2px !default;
$o-dropdown-action-label-padding: ($o-spacing-base / 4) ($o-spacing-base / 2) 0 !default; // the 2px account for the border

/** Open */
// Label
$o-dropdown-open-label-border-color: color('secondary', 'light') !default;
$o-dropdown-open-label-border-bottom-color: color('gray', 'lightest') !default;

// Text
$o-dropdown-open-text-border-color: color('secondary', 'light') !default;

/** Text */
$o-dropdown-text-color: color('gray', 'light') !default;
$o-dropdown-text-border-radius: $o-dropdown-label-border-radius !default;
$o-dropdown-text-height: $o-dropdown-label-height !default;
$o-dropdown-text-font-size: fontSize('zeta') !default;
$o-dropdown-text-padding: ($o-spacing-base / 1.2 - 2) ($o-spacing-base / 2) ($o-spacing-base / 4) !default;

// No Label
$o-dropdown-text-no-label-padding-top: $o-spacing-base !default;

/** Icon */
$o-dropdown-icon-height: $o-spacing-base * 1.5 !default;
$o-dropdown-icon-width: $o-spacing-base * 0.75 !default;
$o-dropdown-icon-right: $o-spacing-base / 8 !default;
$o-dropdown-icon-height: $o-spacing-base * 0.75 !default;
$o-dropdown-icon-width: $o-spacing-base * 0.75 !default;
$o-dropdown-icon-fill: color('secondary') !default;

/** Action */
$o-dropdown-action-text-color: color('secondary') !default;
$o-dropdown-action-text-opacity: 1 !default;

/** Open */
// Text
$o-dropdown-open-text-border-bottom-color: color('gray', 'lightest') !default;

// Icon
$o-dropdown-open-icon-fill: $o-dropdown-icon-fill !default;

// Content
$o-dropdown-open-content-opacity: 1 !default;

/** Disabled */
// Label
$o-dropdown-disabled-label-border-color: color('gray', 'lightest') !default;

// Text
$o-dropdown-disabled-text-color: color('gray') !default;

// Icon
$o-dropdown-disabled-icon-fill: color('gray') !default;

/** Content */
$o-dropdown-content-border-radius: $o-border-radius-main !default;
$o-dropdown-content-border: 1px solid color('secondary', 'light') !default;
$o-dropdown-content-padding-top: $o-dropdown-label-height !default;
$o-dropdown-content-shadow: shadow('input') !default;
$o-dropdown-content-background-color: color('white') !default;

/** Menu */
$o-dropdown-menu-margin: ($o-spacing-base / 4) 0 !default;
$o-dropdown-menu-max-height: 200px !default;

/** Item */
$o-dropdown-item-color: color('gray', 'light') !default;
$o-dropdown-item-font-size: fontSize('zeta') !default;
$o-dropdown-item-padding: ($o-spacing-base / 4) ($o-spacing-base / 2) !default;

// Hover
$o-dropdown-item-hover-color: color('secondary') !default;
$o-dropdown-item-hover-background-color: color('gray', 'lightest') !default;

// Selected
$o-dropdown-item-selected-color: color('gray') !default;

/**
 * Label
 */
$o-label-font-size: fontSize('omega') !default;
$o-label-border-radius: 30px !default;
$o-label-height: $o-spacing-base + 4px !default;
$o-label-padding: 0 $o-spacing-base / 2 !default;
$o-label-margin-left: $o-spacing-base / 4 !default;
$o-label-text-color: color('gray') !default;
$o-label-background-color: rgba(color('gray'), 0.1) !default;

/** Icon */
$o-label-icon-font-size: fontSize('delta') !default;
$o-label-icon-margin-right: -$o-spacing-base / 4 !default;

/** Small */
$o-label-small-padding: 0 $o-spacing-small - 2px !default;
$o-label-small-height: $o-spacing-base - 2px !default;

/** Dot */
$o-label-dot-width-height: $o-spacing-small !default;

/** Pill */
$o-label-pill-width: $o-spacing-base * 3 !default;
$o-label-pill-height: $o-spacing-base / 2 !default;

/** Dismiss */
$o-label-dismiss-icon-hover-color: color('gray', 'dark') !default;

/**
 * List
 */
$o-list-padding: 0 !default;

/** Item */
$o-list-item-horizontal-padding: $o-spacing-base !default;

// Disabled
$o-list-item-disabled-background-color: darken(color('white'), 3) !default;

// Description
$o-list-item-description-color: color('gray', 'light') !default;
$o-list-item-description-font-size: 90% !default;

/** Divide */
$o-list-divide-item-top-border: $o-border !default;

/** Large */
$o-list-large-font-size: fontSize('delta') !default;

// Item
$o-list-large-item-vertical-padding: $o-spacing-base !default;
$o-list-large-item-title-margin-bottom: $o-spacing-base / 4 !default;
$o-list-large-item-description-font-size: fontSize('epsilon') !default;

/** Medium */
$o-list-medium-font-size: fontSize('epsilon') !default;

// Item
$o-list-medium-item-vertical-padding: $o-spacing-base / 2 !default;
$o-list-medium-item-title-margin-bottom: $o-spacing-base / 8 !default;
$o-list-medium-item-description-font-size: fontSize('zeta') !default;

/** Small */
$o-list-small-font-size: fontSize('zeta') !default;

// Item
$o-list-small-item-vertical-padding: $o-spacing-base / 4 !default;
$o-list-small-item-title-margin-bottom: 0 !default;
$o-list-small-item-description-font-size: fontSize('omega') !default;
$o-list-small-item-icon-font-size: fontSize('delta') !default;

/** No Gutter */
$o-list-no-gutter-margin: -$o-card-body-padding !default;

/** Hover */
// Item
$o-list-hover-item-hover-background-color: darken(color('white'), 1) !default;

/**
 * Radio
 */
$o-radio-bottom-margin: $o-spacing-base / 6 !default;
$o-radio-border-radius: 100% !default;
$o-radio-color: color('secondary') !default;
$o-radio-font-size: fontSize('epsilon') !default;
$o-radio-width-height: $o-spacing-base * 0.75 !default;

/** Label */
$o-radio-label-font-size: fontSize('omega') !default;
$o-radio-label-text-color: color('black') !default;
$o-radio-label-opacity: 0.5 !default;
$o-radio-label-padding-left: $o-radio-width-height + $o-spacing-base / 4 !default;

// After
$o-radio-label-after-top: $o-spacing-base / 8 !default;
$o-radio-label-after-left: $o-spacing-base / 8 !default;

/** Disabled */
$o-radio-disabled-color: color('gray', 'dark') !default;

/** Group */
$o-radio-group-height: $o-input-large-height !default;
$o-radio-group-padding: $o-spacing-base / 2 !default;
$o-radio-group-border: $o-border !default;
$o-radio-group-border-radius: $o-border-radius-main !default;

/**
 * Table
 */
$o-table-vertical-margin: ($o-spacing-base / 2) 0 !default;
$o-table-font-size: fontSize('zeta') !default;
$o-table-text-color: color('gray') !default;
$o-table-border-radius: $o-border-radius-main !default;
$o-table-bottom-border: $o-border !default;

/** Table Head */
$o-table-head-cell-font-weight: fontWeight('normal') !default;
$o-table-head-cell-text-color: color('gray', 'light') !default;
$o-table-head-cell-padding: $o-spacing-small !default;
$o-table-head-cell-first-left-padding: $o-spacing-base !default;

/** Table Body*/
$o-table-body-cell-border-top: $o-border !default;
$o-table-body-cell-padding: $o-spacing-base $o-spacing-small !default;
$o-table-body-cell-first-font-size: fontSize('gamma') !default;
$o-table-body-cell-first-color: color('black') !default;
$o-table-body-cell-first-padding-left: $o-spacing-base !default;

/** Celled */
$o-table-celled-border: $o-border !default;

$o-table-celled-head-cell-border-left: $o-border !default;
$o-table-celled-head-cell-background-color: transparentize(color('gray', 'lightest'), 0.5) !default;
$o-table-celled-head-cell-text-color: color('black') !default;
$o-table-celled-head-cell-font-weight: fontWeight('bold') !default;
$o-table-celled-head-cell-first-border-color: transparent !default;

$o-table-celled-body-cell-border-left: $o-border !default;
$o-table-celled-body-cell-first-border-color: transparent !default;

/** Compact */
$o-table-compact-text-color: color('gray', 'dark') !default;

$o-table-compact-body-cell-padding: $o-spacing-small !default;
$o-table-compact-body-cell-first-left-padding: $o-spacing-base !default;
$o-table-compact-body-cell-first-font-size: fontSize('zeta') !default;

/** Definition */
$o-table-definition-vertical-align: text-top !default;
$o-table-definition-vertical-padding: $o-spacing-base !default;

$o-table-definition-body-cell-second-border-left: 0 !default;
$o-table-definition-body-cell-ignored-text-color: color('gray', 'light') !default;

/**
 * Toggle
 */
$o-toggle-width: $o-spacing-base * 2.25 !default;
$o-toggle-height: $o-spacing-base * 1.25 !default;
$o-toggle-transition: $o-transition !default;

/** Button */
$o-toggle-button-height: $o-toggle-height !default;

/** Input */
$o-toggle-input-height: 100% !default;
$o-toggle-input-width: $o-toggle-width;

/** Label */
$o-toggle-label-height: 100% !default;
$o-toggle-label-padding-left: $o-toggle-width !default;
$o-toggle-label-line-height: 24px !default;

// Before
$o-toggle-label-before-border-radius: 24px !default;
$o-toggle-label-before-height: 100% !default;
$o-toggle-label-before-width: $o-toggle-width !default;
$o-toggle-label-before-background-color: color('gray', 'light') !default;
$o-toggle-label-before-opacity: 0.5 !default;

// After
$o-toggle-label-after-width: $o-spacing-base !default;
$o-toggle-label-after-height: $o-spacing-base !default;
$o-toggle-label-after-top: $o-spacing-base / 8 !default;
$o-toggle-label-after-left: $o-spacing-base / 8 !default;
$o-toggle-label-after-border-radius: $o-spacing-base !default;
$o-toggle-label-after-background-color: color('white') !default;
$o-toggle-label-after-box-shadow: shadow('secondary') !default;

/** Checked */
// Label
$o-toggle-checked-label-text-color: rgba(color('black'), 0.95) !default;
$o-toggle-checked-label-before-background-color: color('secondary') !default;
$o-toggle-checked-label-after-left: $o-spacing-base + $o-spacing-base / 8 !default;

/** Disabled */
// Label
$o-toggle-disabled-label-before-opacity: 0.5 !default;

/** Label */
// Label
$o-toggle-label-label-padding-left: $o-spacing-base * 3 !default;

/** Large */
// Value
$o-toggle-large-value-padding: ($o-spacing-base + 4px) ($o-spacing-base / 2) ($o-spacing-base / 2) !default;
$o-toggle-large-value-font-size: fontSize('delta') !default;
$o-toggle-large-value-text-color: color('secondary') !default;
$o-toggle-large-value-width: 100% !default;
$o-toggle-large-value-line-height: $o-input-large-line-height !default;
$o-toggle-large-value-min-height: $o-input-large-height !default;

// Text
$o-toggle-large-text-min-height: $o-input-large-height !default;
$o-toggle-large-text-border: $o-border !default;
$o-toggle-large-text-border-radius: $o-border-radius-main !default;
$o-toggle-large-text-width: 100% !default;
$o-toggle-large-text-line-height: $o-line-height !default;
$o-toggle-large-text-padding: $o-spacing-small $o-spacing-small 0 !default;
$o-toggle-large-text-font-size: fontSize('omega') !default;
$o-toggle-large-text-text-color: color('black') !default;

// Button
$o-toggle-large-button-right: $o-spacing-base / 2 !default;
$o-toggle-large-button-top: ($o-input-large-height / 2) -  ($o-toggle-height / 2) !default;

// Label
$o-toggle-large-label-padding-left: $o-toggle-width !default;

// Disabled
$o-toggle-large-disabled-value-text-color: color('gray') !default;
