/**
 * Grid
 */

/**
  Container
*/
.container {
  width: 100%;

  @each $breakpoint-key, $breakpoint-value in $o-breakpoints {
    @include breakpoint-and-up($breakpoint-key) {
      max-width: map-get($o-container-max-widths, $breakpoint-key);
    }
  }
}

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: $o-container-gap;
  padding-left: $o-container-gap;
}

/**
  Grid
*/
@mixin grid-column-auto-fill ($min-width) {
  grid-template-columns: repeat(auto-fill, minmax($min-width, $o-grid-column-max-width));
}

/* Grid (usually it was called row) */
.grid {
  display: grid;
  grid-gap: $o-grid-gap;
  grid-template-columns: repeat($o-grid-column-number, 1fr);
}

/** Exact number of columns in grid */
@if $o-include-grid-number-of-columns {
  @for $i from 1 through $o-grid-column-number {
    .grid--#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }

  @each $breakpoint-key, $breakpoint-value in $o-breakpoints {
    @for $i from 1 through $o-grid-column-number {
      @include breakpoint-and-up($breakpoint-key) {
        .#{$breakpoint-key}\:grid--#{$i} {
          grid-template-columns: repeat($i, 1fr);
        }
      }
    }
  }
}

/* Auto Layout */
@if $o-include-grid-column-auto-fill {
  .grid--columns-auto {
    @include grid-column-auto-fill($o-grid-column-regular-min-width);

    &-narrow {
      @include grid-column-auto-fill($o-grid-column-narrow-min-width);
    }

    &-wide {
      @include grid-column-auto-fill($o-grid-column-wide-min-width);
    }
  }
}

@mixin grid-span ($end, $property, $class, $span) {
  @for $i from 1 through $end {
    @if ($span == false) {
      .#{$class}-#{$i} {
        grid-#{$property}: span $i;
      }
    } @else {
      .#{$class}-pos-#{$i} {
        grid-#{$property}: $i;
      }
    }
  }

  /** Responsive */
  @each $breakpoint-key, $breakpoint-value in $o-breakpoints {
    @for $i from 1 through $end {

      @if ($span == false) {
        @include breakpoint-and-up($breakpoint-key) {
          .#{$breakpoint-key}\:#{$class}-#{$i} {
            grid-#{$property}: span $i;
          }
        }
      } @else {
        @include breakpoint-and-up($breakpoint-key) {
          .#{$breakpoint-key}\:#{$class}-pos-#{$i} {
            grid-#{$property}: $i;
          }
        }
      }
    }
  }
}

/* Column span */
@if $o-include-grid-column-span {
  @include grid-span($o-grid-column-number, 'column', 'col', false);
}

/* Column exact positions */
@if $o-include-grid-column-exact {
  @include grid-span($o-grid-column-number, 'column', 'col', true);
}

/** Currently not supporting these because of too much bugs with other grid possibilities */
/* Row span */
/*@if $o-include-grid-row-span {
  @include grid-span($o-grid-row-number, 'row', 'row', false);
}

!* Row exact positions *!
@if $o-include-grid-row-exact {
  @include grid-span($o-grid-row-number, 'row', 'row', true);
}*/

/* Column from - to position */
@if $o-include-grid-column-from-to {
  @for $column from 1 through $o-grid-column-number {
    @for $i from 1 through $column {
      @if $i < $column {
        .col-#{$i}\/#{$column} {
          grid-column: #{$i}/#{$column + 1}; // Add +1 because the "grid-column-end" ends before the actual number of column and not with it
        }
      }
    }
  }

  /** Responsive */
  @each $breakpoint-key, $breakpoint-value in $o-breakpoints {
    @for $column from 1 through $o-grid-column-number {
      @for $i from 1 through $column {
        @if $i < $column {
          @include breakpoint-and-up($breakpoint-key) {
            .#{$breakpoint-key}\:col-#{$i}\/#{$column} {
              grid-column: #{$i}/#{$column + 1}; // Add +1 because the "grid-column-end" ends before the actual number of column and not with it
            }
          }
        }
      }
    }
  }
}

/** Currently not supporting these because of too much bugs with other grid possibilities */
/* Row from - to position */
@if $o-include-grid-row-from-to {
  @for $row from 1 through $o-grid-row-number {
    @for $i from 1 through $row {
      /*@if $i < $row {
        .row-#{$i}\/#{$row} {
          grid-row: #{$i}/#{$row + 1}; // Add +1 because the "grid-column-end" ends before the actual number of column and not with it
        }
      }*/
    }
  }

  /** Responsive */
  @each $breakpoint-key, $breakpoint-value in $o-breakpoints {
    @for $row from 1 through $o-grid-row-number {
      @for $i from 1 through $row {
        /*@if $i < $row {
          @include breakpoint-and-up($breakpoint-key) {
            .#{$breakpoint-key}\:row-#{$i}\/#{$row} {
              grid-row: #{$i}/#{$row + 1}; // Add +1 because the "grid-row-end" ends before the actual number of column and not with it
            }
          }
        }*/
      }
    }
  }
}




