/**
 * Grid
 */

/**
  Container
*/
.container {
  max-width: $container-max-width;
}

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: $container-gutter;
  padding-left: $container-gutter;
}

/**
  Grid
*/
/* Grid (usually it was called row) */
.grid {
  display: grid;
  grid-gap: $grid-gutter;
}

/* Column */
.col {
  grid-row: 1;
}

.col--row-2 {
  grid-row: 2;
}

@for $column from 1 through $grid-column-number + 1 {
  @for $i from 1 through $column {
    @if $i < $column {
      .col--#{$i}\/#{$column} {
        grid-column: #{$i}/#{$column};
      }
    }
  }
}

.col--2-3 {
  grid-column: 2/3
}

.col--1 {
  grid-column: 1;
}

.col--2 {
  grid-column: 2;
}

.col--3 {
  grid-column: 3;
}
