/*----------------------------------*\
  	Variables - Grid Options
\*----------------------------------*/
/* Desktop */
$gutter: 12px !default;
$gutter-container: 12px !default;

/* Mobile */
$gutter-mobile: $gutter !default;
$gutter-container-mobile: $gutter-container !default;

/* Container */
$container-max-width: 100% !default;
