/*----------------------------------*\
  	Variables - Media Queries
\*----------------------------------*/
/*
	Media Queries
*/
/* Screen */
$screen: "only screen" !default;

/* Nano Small Query */
$small-mobile-and-down: "#{$screen} and (max-width : #{$small-mobile-screen-to})" !default;
$small-mobile-and-up: "#{$screen} and (min-width : #{$small-mobile-screen-from})" !default;
$small-mobile-only: "#{$screen} and (min-width: #{$small-mobile-screen-from}) and (max-width: #{$small-mobile-screen-to})" !default;

/* Micro Small Query */
$mobile-and-down: "#{$screen} and (max-width : #{$mobile-screen-to})" !default;
$mobile-and-up: "#{$screen} and (min-width : #{$mobile-screen-from})" !default;
$mobile-only: "#{$screen} and (min-width: #{$mobile-screen-from}) and (max-width: #{$mobile-screen-to})" !default;

/* Extra Small Query */
$small-tablet-and-down: "#{$screen} and (max-width : #{$small-tablet-screen-to})" !default;
$small-tablet-and-up: "#{$screen} and (min-width : #{$small-tablet-screen-from})" !default;
$small-tablet-only: "#{$screen} and (min-width: #{$small-tablet-screen-from}) and (max-width: #{$small-tablet-screen-to})" !default;

/* Small Query */
$tablet-and-down: "#{$screen} and (max-width : #{$tablet-screen-to})" !default;
$tablet-and-up: "#{$screen} and (min-width : #{$tablet-screen-from})" !default;
$tablet-only: "#{$screen} and (min-width: #{$tablet-screen-from}) and (max-width: #{$tablet-screen-to})" !default;

/* Medium Query */
$small-desktop-and-down: "#{$screen} and (max-width : #{$small-desktop-screen-to})" !default;
$small-desktop-and-up: "#{$screen} and (min-width : #{$small-desktop-screen-from})" !default;
$small-desktop-only: "#{$screen} and (min-width: #{$small-desktop-screen-from}) and (max-width: #{$small-desktop-screen-to})" !default;

/* Large Query */
$desktop-and-down: "#{$screen} and (max-width : #{$desktop-screen-to})" !default;
$desktop-and-up: "#{$screen} and (min-width : #{$desktop-screen-from})" !default;
$desktop-only: "#{$screen} and (min-width: #{$desktop-screen-from}) and (max-width: #{$desktop-screen-to})" !default;

/* Extra Large Query */
$large-desktop-and-up: "#{$screen} and (min-width : #{$large-desktop-screen-from})" !default;

/*
	Media Query Properties
*/
/* Number of Columns */
$grid: 12 !default;

/* Breakpoints query breakpoint and up */
$breakpoints-up: (
  "nano": $small-mobile-and-up,
  "micro": $mobile-and-up,
  "xs": $small-tablet-and-up,
  "sm": $tablet-and-up,
  "md": $small-desktop-and-up,
  "lg": $desktop-and-up,
  "xl": $large-desktop-and-up
);

/* Breakpoints query breakpoint and down */
$breakpoints-down: (
  "lg-down": $desktop-and-down,
  "md-down": $small-desktop-and-down,
  "sm-down": $tablet-and-down,
  "xs-down": $small-tablet-and-down,
  "micro-down": $mobile-and-down,
  "nano-down": $small-mobile-and-down
);

/* Breakpoints query breakpoint only */
$breakpoints-only: (
  "xl-only": $large-desktop-and-up,
  "lg-only": $desktop-only,
  "md-only": $small-desktop-only,
  "sm-only": $tablet-only,
  "xs-only": $small-tablet-only,
  "micro-only": $mobile-only,
  "nano-only": $small-mobile-only
);
