/*----------------------------------*\
  	Variables - Spacings
\*----------------------------------*/
/* Spacings with breakpoints */
$spacing-classes-with-breakpoints: true !default;

/* Sizes of spacings - Margin and Padding. Just change the numbers for different spacings, or add new ones */
$spacing-sizes: 0, 6, 12, 18, 24, 30, 36, 48, 60, 72, 96, 120 !default;

/*
  Margins and paddings
*/
/* Prefix classes for spacings */
$spacing-classes: (
  'p': padding,
  'pt': padding-top,
  'pb': padding-bottom,
  'pr': padding-right,
  'pl': padding-left,
  'm': margin,
  'mt': margin-top,
  'mb': margin-bottom,
  'mr': margin-right,
  'ml': margin-left
);