/*----------------------------------*\
  	Variables - Spacings
\*----------------------------------*/
/* Spacings with breakpoints */
$o-spacing-classes-with-breakpoints: true !default;

/* Base space */
$o-space-base: 24px !default;

/* Sizes of spacings - Margin and Padding. Just change the numbers for different spacings, or add new ones */
$o-spaces: (
  0: 0,                 // 0px
  1: $o-space-base / 6,   // 4px
  2: $o-space-base / 3,   // 8px
  3: $o-space-base / 2,   // 12px
  4: $o-space-base,       // 24px
  5: $o-space-base * 2,   // 48px
  6: $o-space-base * 3,   // 72px
  7: $o-space-base * 6    // 144px
) !default;

/*
  Margins and paddings
*/
/* Prefix classes for spacings */
$o-spacing-classes: (
  'p': padding,
  'pt': padding-top,
  'pb': padding-bottom,
  'pr': padding-right,
  'pl': padding-left,
  'm': margin,
  'mt': margin-top,
  'mb': margin-bottom,
  'mr': margin-right,
  'ml': margin-left
);